/**********************************************
Accordion
***********************************************/

.jquery-ui-filter-accordion {
  margin: 1em 0;

  .ui-widget-content   {
    height: auto !important;
  }

  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-widget-content {
    background: white;
    border: solid 1px #C8C8C8;
  }

  .ui-widget-content {
    border-top: none;
    padding-bottom: 1em;
  }

  .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #444;
  }

  .ui-state-default .ui-icon {

  }
}