/**********************************************
Alert Messages
***********************************************/
div.messages {
  margin: 6px 0;
}

.l-messages {
  a{ 
    color: $alt-msg-link;

    &:hover {
      color: lighten($alt-msg-link, 10%);
    }
  }
}