/**********************************************
Webform Client
***********************************************/
#webform-emails-form,
#webform-components-form,
#webform-configure-form,
#signup-node-admin-summary-form, 
#signup-node-settings-form, 
#node-export-form,
#signup-form,
.webform-client-form,
.page-user-contact,
.page-user-signups, 
.node-type-webform {
  fieldset {
    padding-top: .5em;
    padding-bottom: .5em;
    background: $white;
  }

  // Label  ParentWeb Component
  .form-item.webform-component > label {
    font-weight: 600;
  }

  // Row
  .webform-container-inline {
    @include grid-row;
  }

  // Radio Button
  .form-type-radio {
    .form-radio {
      margin: 0;
    }

    label {
      margin-left: .13rem;
    }
  }

  // Date
  #webform-component-date {
    padding-right: 3.13rem;
    position: relative;

    .form-item {
      margin: 0;
      padding-right: .13rem !important;

      @include grid-column($columns: 4, $collapse: true);
    }

    .webform-calendar {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .form-select {
    padding-right: 2rem;
  }

  // Time
  #webform-component-time {
    select {
      width: 30%;
    }
  }

  .form-radios {
    margin: 0 1.25rem;
  }

  .form-checkbox {
    margin: 0;
  }

  .form-file {
    float: left;
    margin-bottom: .31rem;
    width: 11.19rem;
    font-size: 0.8em;
    padding-top: .5rem;
  }

  .form-submit {
    @extend button;
    @extend .small;
    margin-right: 5px;
    padding: .5rem 1.25rem;
    border-radius: $bx-corner;
    background: $cf-btn-bg;

    &:hover, &:focus, &:active {
      background: $cf-btn-bg-hover;
    }
  }

  // Form Actions
  .form-actions {
    input {
      @extend %form-submit-button;
      margin-right: 5px;
      background: $cf-btn-bg;
    }
  }

  table {
    width: 100%;
  }

  .description {
    color: #A0A0A0;
    font-size:.80rem;
  }

  @media #{$medium-up}{
    .form-text, .form-select {
      display: inline;
      width: auto;
    }
  }
}

/**********************************************
Table Handle
***********************************************/
a.tabledrag-handle {
  background-repeat: no-repeat;

  .handle {
    font-size: 1.5em;
    height: initial;
    width: initial;
    margin-top: 0;

    // margin-bottom: 0;

    &:hover {
      background-repeat: none;
    }
  }
}

/**********************************************
Node exprt form
***********************************************/
#node-export-form {
  .form-submit {
    margin-bottom: 0 !important;
  }

  .description {
    padding-top: 10px;
  }
}



#node-webform {
  display: none;
}