/**********************************************
Google Translate
***********************************************/
.gTranslate {
  float: right;
  width: 166px;
  padding-left: 0;
  padding-right: 0.9375rem;
  margin: 6px 0;
  height: 28px;

  & > h2 {
    display: none;
  }

  select {
    padding: 0 .63rem;
    margin: 0!important ;
    height: 1.75rem;
    font-size: .8rem;
    outline: none;
    border-radius: 4px;
    // background: url(/sites/all/themes/catarina/assets/img/icon_arrow-down-hover.svg) no-repeat right center !important;
  }
}