/*****************************************
IE 10 below
*****************************************/
.ie9, .ie10 {
  // Mini Slider
  .mini-slider {
    .img-wrapper {
      float:left;
    }
    .ttl {
      position: relative;
      top: 10px;
    }
  }

  // Resource list slider
  .resource-list-slider .views-field.views-field-title {
    padding-top:10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // Header
  #header .main-nav .content ul {
    margin-top: 20px;
  }

  // Header
  // #top-header .top-menu .content ul {
  //   right: 27.17rem;
  // }

  // Top Menu
  #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul {
    top: 1.2rem;
  }

  // gTranslate
  #top-header .gTranslate {
    option {
      color: #444444 !important;
    }
  }
}

/*****************************************
IE 10
*****************************************/
.ie10 {}

/*****************************************
IE
*****************************************/
.ie {
  &.page-search .search-advanced.collapsed legend{
    margin-top: -10px !important;
  }
}

.ie #top-header .gTranslate {
  select {
    color: rgb(50, 49, 44);
    // background-color: white!important;
    // background-image: url("../img/icon-arrow-down-black.svg") !important;
    background-position: 100% center;
    // background-position: right -8px center;
    background-size: 28.1%;
  }
}
