/**********************************************
Panel Wrapper
***********************************************/
.panels-flexible-region {

  .pane-block {
	margin-bottom: 2.45rem;
  }
}

.panel-2col-stacked .panel-col-top, .panel-2col-stacked .panel-col-bottom {
	width: 100%;
}

.panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
	@media #{$large-up}{
		width: 50%;
	}
	@media #{$small-only}, #{$medium-only}{
		width: 100%;
	}
}

.panel-2col-stacked .panel-col-first .inside {
	@media #{$large-up}{
		margin: 0 0.9375rem 0 0 !important;
	}
	@media #{$small-only}, #{$medium-only}{
		margin: 0;
	}
}

.panel-2col-stacked .panel-col-last .inside {
	@media #{$large-up}{
		margin: 0 0 0 0.9375rem !important;
	}
	@media #{$small-only}, #{$medium-only}{
		margin: 0;
	}
	
}

.panel-display .inside {
	margin-bottom: 0 !important;
}