/**********************************************
EDs Search Sidebar Filter
***********************************************/
.block-hf-eds-search-filters {
  .ttl-refine {
    @extend %title-a;
    text-align: center;
  }

  ul {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
  }

  h3,
  li a {
    display: block;
  }

  h3 {
    cursor: pointer;
    padding: .5em;
    color: $src-heading-clr;
    border-radius: $bx-corner;
    background: $src-heading-bg-clr;
    margin-top: 0;
    margin-bottom: 1px;
    font-size: 1em;

    @media #{$medium-up} {
      margin-bottom: 0;
      margin-top: .31rem;
    }

    &:hover,
    &.toggle {
      background: $src-heading-bg-clr-active;
    }
  }

  li a {
    padding: .45em .5em;
    display: block;
    font-size: .9em;
    color: $src-link-clr;
    border-bottom: 1px solid $src-link-border-clr;

    &:hover {
      background: $src-link-hover-bg;
    }
  }

  ul.open,
  .form-wrapper.open {
    background: $src-ul-bg;
    display: block !important;
    transition: all .5s ease-out;
  }

  ul,
  .form-wrapper {
    transition: all .5s ease-out;
    background: $src-ul-bg;
    display: none;
    padding: .63rem 1rem;

    li:last-child a {
      border: none !important;
    }
  }

  label {
    display: none;
  }

  input {
    border-radius: $bx-corner;
  }

  .button {
    width: 100%;
    padding: .65em;
    width: 100%;
    margin: 0;
  }
  @media #{$large-up}{
    &{
      margin-bottom: 20px;
    }

    .btn-close {
      display:none;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    & {
      top: 60px;
      opacity:0;
      overflow: hidden;
      height:0;
      transition: position .5s ease, opacity .5s ease;
    }
    &.open{
      background: $white;
      padding: $bx-padding;
      position: fixed;
      height:auto;
      min-height: 100%;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index: 1001;
      opacity:1;
      transition: position .5s ease, opacity .5s ease;
      overflow-y: scroll;

      .toolbar & {
        padding-top: 60px;
      }
    }

    .ttl-refine {
      background: none;
      box-shadow: none!important;
      color: #434C52;
      padding-left: 0;
      padding-bottom: 0;
      width: auto;
    }

    .btn-close {
      float: right;
      border-radius: 50px;
      background: grey;
      width: 24px;
      height: 24px;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 16px;
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/**********************************************
Date picker select overwrite
***********************************************/
.ui-datepicker-month, .ui-datepicker-year {
  height: auto!important;
  padding: 3px;
  border-radius: $bx-corner;
}
.ui-datepicker-month, .ui-datepicker-year, .ui-datepicker-close, .ui-datepicker-current {
  font-size: 12px !important;
}
