/**********************************************
Node Detail
***********************************************/
.node-detail {
  background: $stacks-src-dtls;
  border-radius: $bx-corner;
  padding: $bx-padding;
  border: $bx-border;
  margin-bottom: 1em;
  overflow:hidden;

  h1 {
    font-size: 1.625rem;

    &.title{
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 0.45em;
      margin-bottom: 0.7em;
    }
  }

  h2 {
    font-size: 1.425rem;
  }

  .book-jacket {
    .book-jacket-image, .file-type{
      text-align: center;
    }
    .file-type{
      margin-bottom: 5px;
      font-size: .9em;
      font-weight: bold;
    }
  }

  .item-details {
    display: block;
    overflow: hidden;

    ul {
      list-style-type:none;
      padding-left:0 !important;
      margin-left:0 !important;
    }
    li.item {
      margin-bottom: 2px;
    }
    .lbl {
      font-weight: bold;
    }
    .long-text {
      .lbl {
        display:block;
      }
      margin-top: 20px;
      margin-bottom: 20px !important;
    }
  }

  .action-wrapper {
    text-align: center;
    > a{
      margin-bottom:10px;
    }
  }

  .btn-request {
    box-shadow: 0px 2px 0 0 $stacks-src-btn-shadow;
  }
  
  @media #{$large-up}{
    padding: $bx-padding;
  }
  @media #{$medium-up}{
    .book-jacket {
      float: left;
      width: 180px;
      margin-right: 20px;
    }
  }

  @media #{$small-only}{
    h1, h2 { font-weight: 600; }
    h1 { font-size: 1.2rem; }
    h2 { font-size: 1.1rem;}

    .action-wrapper > a{
      margin-bottom:10px;
      display: inline-block;
    }
  }
}

/**********************************************
Review
***********************************************/
.book_reviews {
  margin-bottom:20px;

  .book-row {
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 10px;
    margin-bottom:10px;
    position:relative;
  }

  h5 {
    font-style: italic;
    font-size: 0.9em;
    color: $primary-clr;
  }

  p{
    font-size:.85rem;
  }

  @media #{$medium-up}{
    &{
      background: $stacks-src-book-review-bg;
      border-radius: $bx-corner;
      padding: $bx-padding;
      border-top: $bx-border;
    }

    .book-row {
      margin-bottom: 50px;
    }

    h5 {
      position: absolute;
      left: 10px;
      bottom: -40px;
      padding: 0 5px;

      &:before {
        $wh:0;
        $b:10px;
        width:$wh;
        height:$wh;
        content: "";
        display:inline-block;
        border-left: $b solid transparent;
        border-right: $b solid transparent;
        border-top: $b solid #DADADA;
        position: absolute;
        left: 10px;
        top: -7px;
      }
    }
  }

  @media #{$small-only}{
    &{
      border-top: 1px solid #DADADA;
      padding-top: 15px;
    }
    .book-row {
      background: white;
    }
  }
}

/**********************************************
Review
***********************************************/
.similar-titles {
  background: $stacks-src-similit-ttl-bg;
  border-radius: $bx-corner;
  padding: $bx-padding;
  border-top: $bx-border;

  .img-cover {
    min-height: 130px;
    height: 100%;
    vertical-align: middle;
  }

  .slick-slider img {
    margin:0 auto;
  }

  .slick-slider p {
    font-size: .80em;
    text-align:center;
    display:block;
    padding:4px 10px 0;
    margin-bottom:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #797979;
  }


  // Slider button
  @include slider-next-prev(22px, -20px, -20px);

  .slick-dots {
    display: none !important;
  }

  .slick-prev, .slick-next {
    opacity: .5;
  }

  .slick-prev:before, .slick-next:before {
    color: $primary-clr;
    
  }

  @media #{$medium-up}{
    .slick-slider {
      margin: 0 20px;
    }
  }
  @media #{$small-only}{
    .slick-slider {
      margin: 0 10px;
    }
  }
}









