/**********************************************
e-Resources
***********************************************/
.view-eresources {
  .view-header {
    padding: 10px 5px;
  }

  .views-row {
    padding-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .eresources-group {
    margin-bottom: .63rem;
  }

  h3.eresource-title {
    margin: 0 !important;
    font-size: 1rem;
    padding: 0 !important;
  }

  h3.eresource-title a {
    color: $view-e-heading-clr;
    padding: .94rem;
    margin-bottom: -1px;
    padding-right: 3.75rem;
    display: block;
    position: relative;
    background: $bx-background;
    border: 1px solid $lightgrey-clr;

    &::after {
      content: '+';
      font-size: 1.25rem;
      color: $view-e-after-clr;
      float: right;
      margin-top: -.44rem;
      margin-right: -3.75rem;
      border-left: 1px solid $view-e-border-clr;
      padding: .31rem 0 .31rem 0;
      width: 3.13rem;
      text-align: center;
    }

    &:hover {
      background: $view-e-hov-bg;

      &::after {
        border-color: $view-e-border-clr;
        color: $view-e-after-clr !important;
      }
    }
  }

  .eresources-items {
    display: none;
    background: $view-e-item-bg;
    position: relative;
    padding: .94rem;
    border: 1px solid #cacaca;
    margin-top: -2px;

    .views-row {
      border-bottom: 1px solid $view-e-border-clr;
      padding-bottom: .63rem;
      margin-bottom: 0;
      padding-top: .63rem;

      p {
        margin-bottom: 0;
      }
    }

    .views-row:last-child {
      border: none;
    }

    a {
      color: $view-e-item-link-clr;
    }
  }

  .active {

    h3.eresource-title {
      border-bottom: 1px solid $view-e-border-clr;;
    }

    h3.eresource-title a::after {
      content: '-';
      color: $view-e-after-clr;
    }

    .eresources-items {
      display: block;

      .eresources-items {
        padding: 0;
      }
    }
  }
}

/**********************************************
Resource single
***********************************************/
.view-resource-single {
  margin-bottom: 10px;
  h3 {
    margin: 0 !important;
    font-size: 1rem;
    padding: 0 !important;
  }
  h3 a{
    color: $view-e-heading-clr;
    padding: .94rem;
    margin-bottom: 0;
    padding-right: 3.75rem;
    display: block;
    position: relative;
    background: $bx-background;

    &::after {
      font-family: fontAwesome;
      content: '\f105';
      font-size: 1.25rem;
      color: $view-e-after-clr;
      float: right;
      margin-top: -.44rem;
      margin-right: -3.75rem;
      border-left: 1px solid $view-e-border-clr;
      padding: .31rem 0 .31rem 0;
      width: 3.13rem;
      text-align: center;
    }

    &:hover {
      background: $view-e-hov-bg;

      &::after {
        border-color: $view-e-border-clr;
        color: $view-e-after-clr !important;
      }
    }
  }
}

/**********************************************
e-Resources in  page-databases
***********************************************/
.page-databases .view-eresources {
  clear: both;
  display: block;

  .db-logo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: block;
    float: left;
    margin-right: 14px;
    margin-top: -5px;
  }

  // .db-cat-name {
  //   display: inline-block;
  //   width: 91%;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }
}


// news list page
.news-items {

  .news-item {
    @media #{$medium-up} {
      padding: $bx-padding;
      min-height: 460px;
    }
    @media #{$large-up} {
      min-height: 465px;
    }

    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $base-link-clr;
      margin: ($bx-padding/2) auto $bx-padding;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}


