
/*#block-elephant-search-elephant-search-block { float: right; clear:right; }*/
	/*.region-header-search {  position:relative; }*/
	    /*.searchFor { float: right; padding: 9px 23px 0;  }*/
	        /*.searchFor h4 { display:none; color:#fff; margin-bottom:10px; padding-top: 15px; }*/
	        /*.searchFor .searchTypeWrap { width:85px; display:inline-block; vertical-align:top; */
	        	/*zoom:1; *display:inline; }*/
	        /*.searchFor .searchBoxWrap { width: 260px; padding-left:26px; display:inline-block; vertical-align:top; */
	        		/*zoom:1; *display:inline; }*/
	            /*.searchBoxWrap .searchSource {  float:right; padding-top:4px;}*/
	                /*.searchBoxWrap .text { width: 257px; background-clip: padding-box; background-color: #FFFFFF; background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%); background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%); background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%); background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%); background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(238,238,238)), color-stop(1, rgb(255,255,255))); */
	                	/*border: 1px solid #707070; border-radius: 4px; color: #444; display: block; height: 25px; line-height: 26px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; white-space: nowrap; font-size:13px; }*/
	                /*.searchBoxWrap .ul { padding:0; }*/
	                    /*.searchBoxWrap ul li { padding:0; margin:-1 8px 0 0; display:inline; }*/
	                    /*.searchBoxWrap ul li:last-child {  }*/
	                        /*.searchBoxWrap ul li label { font-size:11px; padding:3px 0 0 3px; color:#fff; font-weight:normal; display:inline-block; vertical-align:top; zoom:1; *display:inline; }*/
	                            /*.searchBoxWrap label input { margin-right:5px; }*/


	                /*.searchBoxWrap a:link, .searchBoxWrap a:visited { font-size:11px; color:#fff; display:inline-block; zoom:1; *display:inline; }*/
	                /*.searchBoxWrap a:active {}*/
	                /*.searchBoxWrap a:hover { color:#CCC; text-decoration:none; }*/

	    /*.searchFor input.submit { border: 1px solid #404040; color: #FFFFFF; cursor: pointer; font-weight: bold; height: 20px; margin-top: 1px; padding-bottom: 4px; width: 45px; text-shadow:0px 1px 0px #333; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background: #505050; background-image: linear-gradient(bottom, #779531 0%, #b1c357 100%); background-image: -o-linear-gradient(bottom, #779531 0%, #b1c357 100%); background-image: -moz-linear-gradient(bottom, #779531 0%, #b1c357 100%); background-image: -webkit-linear-gradient(bottom, #779531 0%, #b1c357 100%); background-image: -ms-linear-gradient(bottom, #779531 0%, #b1c357 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #779531), color-stop(1, #b1c357)); */
	    	/*display:inline-block; vertical-align:top; */
	    	/*zoom: 1;*/
	    	/**display: inline;*/
	    /*}*/

	   	/*.searchBoxWrap .inline {padding-right:20px;  }*/

	    /*.searchFor input.submit:active { text-shadow:0px -1px 0px #333; background: #303030; background-image: linear-gradient(top, rgb(71,71,71) 0%, rgb(110,110,110) 100%); background-image: -o-linear-gradient(top, rgb(71,71,71) 0%, rgb(110,110,110) 100%); background-image: -moz-linear-gradient(top, rgb(71,71,71) 0%, rgb(110,110,110) 100%); background-image: -webkit-linear-gradient(top, rgb(71,71,71) 0%, rgb(110,110,110) 100%); background-image: -ms-linear-gradient(top, rgb(71,71,71) 0%, rgb(110,110,110) 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(71,71,71)), color-stop(1, rgb(110,110,110))); }*/
	    /*.searchFor input.submit:hover { color:#CCC; }*/

	/* Tweeks the SEARCH Button text a little smaller. */
	/* "Enter Search Term" text size  *//*		*/
	/*.region-header-search .searchFor .submit { font-size: 12px; }*/
	   /*.searchFor .searchTypeWrap .select2-choice { padding: 0 0 0 18px;}*/
	/* "keyword" text size */
	/*.region-header-search .searchFor .searchTypeWrap .select2-container a { font-size: 12px; line-height: 22px; }*/

	/* Tweeks the Form sizes of each */
	/*.searchFor .select2-container .select2-choice { height: 23px; border: none !important; margin-top: 1px; }*/
	/*.searchFor .select2-drop { font-size: 12px; }*/

	/*.searchBoxWrap .searchSource ul li a#searchAdvanced { float: right; padding-top: 3px; }*/