#top-header .block-stacks-topicons {
    float: right;
    margin-left: 10px;
}
.top-icon-roombooking, .top-icon-calendar, .top-icon-databases {
    float:left;
    font-size: 24px !important;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -5px;
}

.top-icon-roombooking a, .top-icon-calendar a, .top-icon-databases a {
    color: white;
    opacity: .7;
    font-size: 24px !important;
}

.top-icon-roombooking a:hover,
.top-icon-calendar a:hover,
.top-icon-databases a:hover,
.top-icon-roombooking a:focus,
.top-icon-calendar a:focus,
.top-icon-databases a:focus {
    opacity: 1;
    color: white;
    top: -5px;
    transform: translate(0, -2px);
 }

.fa-database:before, .fa-calendar-o:before, .fa-clock:before {
    font-family: fontAwesome;
}