// Child Sub Menu
.child-submenu {
  @extend .bg-box;

  padding: 0.913rem $bx-padding 0.713rem;
  margin-bottom: 20px;
  background: $main-gradient-fallback;
  background: $bx-background;
  width: 100%;

  ul, li {
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
  }

  .menu-block-wrapper > ul > li:last-child a {
    border: none;
  }

  .menu-block-wrapper > ul ul li > a{
    margin-left: 0;
    padding-left: 1.4rem !important;
  }

  li > a {
    padding: 0.7rem 0.8rem;
    display: block;
    font-size: 1em;
    color: $child-mu-link-clr;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09);

    &:hover, &.active {
      background: $child-mu-link-hv-clr;
    }
  }

  // ul {

  //   // Children
  //   ul li a {
  //     padding-left: 1.25em;
  //   }

  //   &,
  //   li {
  //     list-style-type: none;
  //     list-style-image: none;
  //     margin: 0;
  //     padding: 0;
  //   }

  //   li:last-child a {
  //     border: none;
  //   }
  // }
}