// CTA Callout
.cta-callout {
  @extend .clearfix;

  > h2 {
    @extend %title-a;
  }

  .field-content {
    @extend .bg-box;
    background: $cta-callout-block-bg;
  }

  img {
    border-radius: $bx-corner;
  }

  .cta-description {
    height: 43px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .views-field {
    margin-bottom:20px;
  }

  .imgHolder {
    background-image: none !important;
    &, a:first-child, img {
      width: 100%;
      display: block;
      border-radius: $bx-corner $bx-corner 0 0;
    }

    img {
      background-size: cover;
    }
  }

  .no-imgURL{
    position: relative;
    overflow: hidden;
    background-color:rgba(208, 207, 207, 0.22);
  }

  .teaser-cont {
    font-size: .85rem;
    position: relative;
    font-family: $font-two;
    color: $cta-paragraph-clr;
  }

  .item-list ul {
    margin: 0;
    padding-top: 0.5em;

    li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        font-size:.85rem;
        list-style: none;
        border-top: 1px solid $cta-list-border-clr;
        display: block;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
        word-break: break-all;
      }
    }
  }

  @media #{$large-up} {
    margin-top: 25px !important;
    margin-bottom: 20px !important;
    .teaser-cont {
      min-height: 8.9em;
    }
  }
  @media #{$medium-up}{
    .views-field {
      float: left !important;
    }
    .cta-title {
      position: relative;
      display: block;
      padding: 0.813rem 0.813rem 0;
      width: 100%;
    }
    .teaser-cont {
      display: block;
      padding:0 0.813rem 0.613rem;
    }

    .item-list {
      clear: none !important;
    }
  }

  //@media #{$medium-only}{
  //  .large-3 {
  //    @include grid-column(6);
  //  }
  //}

  @media #{$small-only}, #{$medium-only} {
    .field-content {
      padding:0.813rem;
      overflow: hidden;
    }

    .cta-title {
      font-size: .9rem;
      font-weight: 600;
    }

    .imgHolder {
      width: 40%;
      float: left;
    }
    .imgHolder, .img {
      margin:0 0.713rem 0.713rem 0;
    }

    .item-list {
      clear: both;
      display: block;
    }
  }
}

// reset row
.pane-views-callouts-block-3,
.pane-views-callouts-placements-block-2 {
  @extend .row;
}



// new callout
