/**********************************************
Database Page
***********************************************/
.page-databases {
  // Filters
  #hf-databases-form-search, #hf-databases-form-filter {
    @extend .bg-box;
    background: white;
    margin-bottom: 10px;
    padding: $bx-padding;

    .form-item {
      margin:0;
    }

    .form-text {
      margin-bottom: 10px;
    }

    .form-submit {
      @extend %form-submit-button;
    }
  }
  // Filters
  .featured-database {
    @extend .bg-box;
    background: white;
    margin-bottom: 10px;
    padding: $bx-padding;

    > h3 {
      color: #4d4d4d;
      cursor: pointer;
      display: block;
      font-size: 0.875rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0;

    }

    ul {
      margin:0 0 0 21px !important;
    }

    li a {
      font-size: .85rem;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    .sidebar, .main {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
