/**********************************************
Days in History
***********************************************/
.days-in-history {
  @extend .clearfix;

  @include grid-column(12);

  margin: 21.9px 0 25px !important;

  .views-row {
    padding-top: 13px;
    margin-bottom: 20px;
  }

  .views-field {
    margin-bottom: 5px;
    font-size: 0.9em;

    &-title {
      font-size: 1em;
      font-weight: 600;
    }

    &-field-description {
      font-family: "Oxygen", sans-serif;
      font-size: .85rem;
      letter-spacing: 0.1px;
    }

    &-field-history-date, &-field-history-isbn {
      color: $primary-clr;
    }
  }

  @media #{$large-up}{
    .content, .pane-content {
      min-height: 266px;
    }

    .flexbox & {
      .views-field-field-history-isbn {
        top: 73px !important;
      }
    }

    .views-field-field-history-isbn {
      top: 36px;
    }
  }
  

  @media #{$medium-up} {

    .flexbox & {
      .content, .pane-content {
        display: flex;
        align-items: center;
      }

    }
    .views-row {
      padding-left: 100px;
    }

    .views-field {
      clear: both;
      display: block;

      &-field-history-isbn {
        position: absolute;
        left: 1.25rem;
        top: 36px;
        width: 80px;
      }
    }
  }

  @media #{$small-only} {

    .content, .pane-content {
      padding-bottom: 20px !important;
    }

    .views-field {
      .views-label {
        font-weight: 600;
      }

      &-field-history-isbn {
        float: left;
        width: 50px;
        margin-right: 10px;
      }

      &-field-history-date, &-title {
        width: 100%;
      }

      &-field-history-isbn, &-title {
        margin-bottom: 10px;
      }

      &-field-history-date, &-title {
        display: table-row;
        clear: both;
      }

      &-field-history-item-author {
        clear: both;
        display: block;
      }
    }
  }
}