/**********************************************
Google Translate
***********************************************/
.gTranslate {
  float: right;
  margin-left: 10px;

  @media #{$medium-up} {
    width: 166px;
  }

  & > h2 {
    display: none;
  }

  select {
    padding: 0 .63rem;
    margin: 0 !important;
    height: 1.75rem;
    font-size: .8rem;
    outline: none;
  }

  // Top Header
  #top-header & {
    //position: absolute;
    //right: 40px;
    //top: 44px;

    select {
      font-family: $header-font-family;
      background: url(../img/icon_arrow-down-hover.svg) no-repeat right center;
      background-size: 16px 16px;
      opacity: .5;
      color:white;
      letter-spacing: .05em;
      transition: opacity .1s ease-in;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}


#block-menu-block-3, #block-stacks-topicons-stacks-topicons, #block-gtranslate-gtranslate {
  position: relative;
  float: right;
  right: 0;
}