/**********************************************
User login and User Pass
***********************************************/
#user-login, #user-pass {
	&#user-login {

		.form-text {
			margin-bottom: 0;
		}

		.description {
			font-size: .85em;
			font-style: italic;
			color: $lf-desc-clr;
		}
	}

	input[type='submit'] {
		@extend %form-submit-button;
		background-color: $lf-btn-bg;
	}

	@media #{$large-up}{
		@include grid-column($columns:7, $center:true);
	}

	@media #{$small-only}, #{$medium-only}{
		@include grid-column($columns:12, $center:true);
	}
}
