/**********************************************
Mini Slider
***********************************************/
.mini-slider {
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 10px 0 !important;
  overflow: hidden;
  height: 93px;
  @include grid-column($columns:12, $collapse:false);

  .blk-title {
    @extend .blk-title;
    display: none;
  }

  .slick-slider {
    border-radius: $bx-corner;
    background: $mini-slider-inner-bg;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: .25em 1em;
    border: $bx-border;
  }

  .views-row {
    border-radius: $bx-corner;
    border: $bx-border;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 1px;
    padding: .45rem;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: opacity .3s ease-in-out;
    margin-bottom: 100px;
    float:left;

    &:hover {
      opacity: .8;
    }
  }

  .ttl {
    float:left;
    &, p {
      padding: 0 10px;
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .img-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  .img-wrapper {
    border-radius: $bx-corner;
    width: 3.13rem;
    height: 3.13rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;

    img {
      display: none;
    }
  }

  // Slider
  .slick-slider {
    margin: 0 .9em;
  }

  .slick-list {
    margin: 0 1.56rem;
    max-height: 67px
  }

  .slick-dots {
     display: none !important;
  }

  // Slider button
  @include slider-next-prev(22px, 0.44rem, 13px);

  @media #{$small-only}, #{$medium-only}{
    & {
      padding-top:0;
      margin: 0 0 10px!important;
    }
  }

  @media #{$small-only} {
    .panel-panel & {
      @include grid-column($columns:12, $collapse: true);
    }
  }
}

// Animate on load
.cssanimations .mini-slider {
  @include load-animate;
}

/**********************************************
Mini Slider in Database Page
***********************************************/
.page-databases .mini-slider {
  & {
    padding: 0;
    margin-top: 0 !important;
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .slick-slider{
    margin-left: 0;
    margin-right: 0;
  }
  .db-logo {}
  .db-cat-name {}
}
