/*****************************************
Mobile Search
// Search form
*****************************************/
.mobile-menu .basic-search {
  float: none;
  margin-bottom: 0;
  padding: .63rem;
  position: relative;

  .form-item{
    float: none;
  }

  .form-text{
    height: 2.5rem;
    border-radius: $bx-corner;
    margin-bottom: 0;
  }

  .form-submit {
    @extend %form-submit-button;
    border-radius: 0 $bx-corner;
    background: $basic-search-bg;
    position: absolute;
    right: .53rem;
    top: .63rem;
    height: 40px;
  }
}

/*****************************************
// Translate
*****************************************/
.mobile-menu .gTranslate {
  padding: .63rem;
  width: 100%;
  display: block;
  clear: both;
  float: none;

  & > h2 {
    display: none;
  }

  select {
    width: 100%;
    height: 1.75rem;
    border-radius: $bx-corner;
  }
}

/*****************************************
// Mobile Menu
*****************************************/
.mobile-menu {
  padding-left: .5rem;

  .m-main-nav,
  .top-menu {
    clear: both;
    padding: .63rem;
    float: none;

    &.m-main-nav {
      margin-bottom: -1.31rem;

      li a {
        padding: .5rem;
        padding-left: 0;
        margin: 0;
        display: block;
      }
    }

    .menu-block-wrapper > ul.menu > li {
      & > a {
        color: $mob-nav-link-hov-clr;
        font-weight: 600;
        font-size: .9rem;
      }

      & > ul {
        margin-bottom: .81rem;
      }
    }
    .content {
      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
        list-style-image: none;
        display: block;
        clear: both;
      }

      a {
        color: $mob-nav-link-clr;
        display: inline-block;
        margin-bottom: .25rem;

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .menu li {
    margin: 0;
  }
}