/**********************************************
Panel Wrapper
***********************************************/
.panels-flexible-region {

  .pane-block {
    margin-bottom: 2.45rem;
  }
}

// home page panel events
.field-name-field-workflow {
  display: none;
}

.panel-2col-stacked {
  // > .panel-panel {
  //   @include grid-row();
  // }
  .panel-event-section {
    @include clearfix();
  }

  .panel-slider-block,
  .panel-event-block {
    display: block;
    border-radius: $bx-corner;
    background: $view-bg;
    border: $bx-border;
    padding: $bx-padding;
    margin-bottom: 1em;

    h2 {
      display: none;
    }
  }

  // overrides for big sliders within panels
  .big-slider {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
  }

  // responsive images in events
  .field-type-image {
    img {
      width: 100%;
    }
  }


  .node-content {
    padding-top: $bx-padding;
  }
}

section.panels-section,
.pane-block {
  @include clearfix();
  display: block;
}


// overrides for event blocks within panels
section.panels-section {
  .sidebar {

    .field-label-above {
      .field-label,
      .field-items {
        float: left;
      }
      .field-label {
        clear: left;
      }
      .field-items {
        clear: right;
      }
    }
  }
  .field-type-datetime {
    white-space: nowrap;
  }
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom {
  width: 100%;
}