/**********************************************
Room Bookings
***********************************************/

.page-roombooking, .page-availability, .page-reservation  {

  .form-type-select {
    margin-right: 0;
  }

  .container-inline-date .form-item input {
    width: 100% !important;
  }

  .datepicker td.active.day {
    color: white;

  }

  .cal, .room {

    img {
      margin-top: -3px;
      margin-left: 2px;
      margin-right: 2px;
    }
  }

  label {
    line-height: 2.5;
  }

  .current-url {
    display: none;
  }

  #edit-submit {
    background: #63ad4c;
    color: white;
    border-radius: 3px;
    border: none;
    padding: .5rem .8rem;
    width: auto !important;
    margin-right: .5em;

    &:hover {
      opacity: .9;
    }
  }

  .form-reset {
    padding: .5rem .8rem !important;
    width: auto !important;

    &:hover {
      opacity: .9;
    }
  }

  .panel {
    background: white;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 1rem 2rem;
  }

  #edit-field-reservation-datetime {
    display: none;
  }

  #edit-actions {
    clear: both;
    text-align: center;
  }

  .side-filter {
    border: none !important;
    padding: 0 !important;
    background: none !important;
  }

  #studyroom-availability-search-form {
    border: solid 1px rgba(0,0,0,.09);
  }

  .studyroom-space-calendar {

    h2 {
      margin-top: 2em;
      color: #63ad4c;

      &.first {
        margin-top: 0;
      }
    }

    .view-research-guide .views-row {
      color: black;

      &:hover {
        border: 1px solid #63ad4c;
      }
    }

    .navigation {
      margin-bottom: 3em;

      .prev-url, .next-url{
        margin-top: -3em;
        border-radius: 3px;
        background: white;
        border: 1px solid rgba(0, 0, 0, .09);
        color: black;
        padding: .875rem 1.75rem .9375rem;

        &:hover {
          border: 1px solid #63ad4c;
        }
      }

    }

    .button.expand {
      border-radius: 3px;
      background: white;
      border: 1px solid rgba(0, 0, 0, .09);
      color: black;

      &:hover {
        border: 1px solid #63ad4c;
      }
    }
  }

  .times {

    .header {
      div, h2 {
        display: inline-block;
      }

      h2 {
        margin-top: 8px;
      }
    }

    .panel {
      background: white;
      margin-bottom: 10px;
      padding: 1rem 2rem;
      border-radius: 3px;
    }

    button {
      background: #63ad4c;
      color: white;
      border-radius: 3px;

      &:hover {
        opacity: .9;
      }
    }

  }

  #field-reservation-occupancy-add-more-wrapper {
    .description {
      display: none !important;
    }
  }

  .captcha {
    @media only screen and (min-width: 1024px) {
      width: 49%;
      float: left;
      margin-left: 1%;

      .field-prefix {
        float: left;
        line-height: 35px;
      }

      input {
        float: left;
        width: 90.5%;
        margin-left: .5%;
      }
    }

    .form-item-captcha-response {
      .description {
        clear: both;
      }
    }

    @media only screen and (max-width: 1023px) {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }

  .form-item .description {
    font-size: 0.9em;
  }


  /***** JQUERY UI Garbage *******/

  .ui-widget-content {
    border: 1px solid #aaa;
  }

  #ui-datepicker-div {
    border-right: none;
    border-bottom: none;
    background: white !important;
  }

  .ui-widget-header {
    border: none !important;
    background: none !important;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3 !important;
    //background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    color: #555 !important;
  }

  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #555;
    background: #fff;
    font-weight: bold;
    color: #555;
  }

  //.ui-widget-header .ui-icon {
  //  background-image: url(images/ui-icons_222222_256x240.png);
  //}

  .ui-datepicker {
    width: 233px;
    height: auto;
    margin: 5px auto 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  }

  .ui-datepicker table {
    width: 100%;
  }
  .ui-datepicker-header {
    background: #fff;
    color: #000;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
  }

  .ui-datepicker-title {
    text-align: center;
  }
  .ui-datepicker-prev {
    float: left;
    cursor:pointer;
    //background-position: center -30px;
  }
  .ui-datepicker-next {
    float: right;
    cursor:pointer;
    //background-position: center 0px;
  }
  .ui-datepicker thead {
    background-color: #f7f7f7;
    //border-bottom: 1px solid #bbb;
  }
  .ui-datepicker th {
    text-transform: uppercase;
    font-size: 6pt;
    padding: 5px 0;
    color: #666666;
  }
  .ui-datepicker tbody td {
    padding: 0;
    //border-right: 1px solid #bbb;
  }
  .ui-datepicker tbody td:last-child {
    border-right: 0px;
  }
  .ui-datepicker tbody tr {
    //border-bottom: 1px solid #bbb;
  }
  .ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
  }
  .ui-datepicker a {
    text-decoration: none;
  }
  .ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
  }
  .ui-datepicker-calendar .ui-state-default {
    background: #fff;
  }

  .ui-datepicker-calendar .ui-state-hover {
    background: #fff;
    color:#000;
  }
  .ui-datepicker-calendar .ui-state-active {
    background: #fff;
    color: #e0e0e0;
    position: relative;
    margin: -1px;
    border: $secondary-clr 1px solid !important;
  }
  .ui-datepicker-unselectable .ui-state-default {
    background: #D6E4BE;
    color: #000;
  }

  .ui-widget-header .ui-icon {
    background-image: url(/sites/all/modules/jquery_update/replace/ui/themes/base/minified/images/ui-icons_222222_256x240.png) !important;
  }
}