// Site Brand
.site-brand {
  vertical-align: middle;
  padding: 0 .94rem;
  float: left;
  display: flex;
  align-items: center;
  position:relative;

  #logo,
  #name-and-slogan {
    display: inline-block;
    padding: .5em;
    float: left;
    color: $logo-name-slogan-clr;
  }

  #name-and-slogan {
    a {
      color: $name-slogan-clr;
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  #site-name {
    position: relative;
    top: -.13rem;
  }

  #site-slogan {
    position: relative;
    top: -.63rem;
    letter-spacing: 0.3px;
  }

  @media #{$large-up} {
    height: 7em;
  }

  @media #{$medium-up}{
    #logo img {
      max-height: 3.88rem;
    }
  }

  @media #{$medium-only}{
    top: 14px;
  }

  @media #{$small-only} {
    height: auto;
    top: 9px;
    padding: 0;

    #name-and-slogan {
      width: 13.56rem;

      a {
        font-size: 1.06rem;
      }
    }

    #site-name {
      margin-bottom:0;
    }

    #site-slogan {
      font-size: .8em;
      top: -.13rem;
    }

    #logo {
      padding: .5em 0;

      img {
        max-height: 1.93rem;
      }
    }

    #logo {
      padding: 0.5em 0;

      img {
        max-height: 2rem;
      }
    }
  }
}
