/**********************************************
Bx Slider
***********************************************/
/**
 * bxSlider uses an ID that must be overriden with !important in some cases.
 */

.theme-caltech .view-home-slider {
  border: 1px solid #c8c8c8;
}
.theme-caltech .view-home-slider .views-field-field-slideshow-image,
.theme-caltech .view-home-slider .views-field-field-body,
.theme-caltech .view-home-slider .more-link {
  padding: 5px;
}
.theme-caltech .view-home-slider .views-field-field-body {
  border-top: 1px solid #c8c8c8;
  margin: 0;
}
.theme-caltech .attachment .view-home-slider {
  border: none;
}
.theme-caltech .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  left: 0;
}
.theme-caltech .bx-wrapper .bx-viewport ul {
  margin-left: 0;
}
.theme-caltech .bx-wrapper .bx-controls-direction a {
  background-color: rgba(255, 255, 255, 0.2) !important;
  text-indent: 0 !important;
  top: 40%;
  z-index: auto !important;
}
.theme-caltech .bx-wrapper .bx-controls-direction a:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}
.theme-caltech .bx-wrapper .bx-next,
.theme-caltech .bx-wrapper .bx-prev {
  background: none;
}
.theme-caltech .bx-wrapper .bx-next::before,
.theme-caltech .bx-wrapper .bx-prev::before {
  color: rgba(255, 114, 12, 0.7);
  font-family: fontAwesome;
  font-size: 42px;
  position: relative;
  top: -15px;
}
.theme-caltech .bx-wrapper .bx-next::before {
  content: "\f0da";
  left: 10px;
}
.theme-caltech .bx-wrapper .bx-prev::before {
  content: "\f0d9";
  left: 6px;
}
.theme-caltech .bx-wrapper .bx-next:hover::before,
.theme-caltech .bx-wrapper .bx-prev:hover::before {
  color: rgba(255, 114, 12, 1);
}
