// Coverflow
.coverflow {
  position: relative;
  margin-bottom: 10px;
  z-index: 0;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;

  &:not(&#stacks-modal) {
    overflow: hidden;
  }

  > h2.blk-title {
    @extend %title-a;
  }

  .blk-title-inline {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    z-index: 9;
    margin: 0;

    span {
      background: $fourth-clr;
      color: white;
      padding: 10px 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
    }
  }

  .inner-content {
    .inner-wrap & {
      @include load-animate;

      .page-layout-b &:not(&.page-layout-b) {
        min-height: 250px;
      }
    }
  }

  .views-row {
    display: inline-block;
    position: relative;
    text-align: center;
    outline: none;
    background-size: contain;
    background-position: no-repeat;
    background-repeat: center center;

    #stacks-modal & {
      padding: 0 5px;
      margin-bottom: 20px;
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }

  // Fields
  .views-field {

    &-field-title {
      margin: 0 auto;
      width: 100%;
      padding-left:5px;
      padding-right:5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $fourth-clr;
      display: none;

      a {
        font-weight: normal;
        font-size: .85rem;
      }
    }

    &-field-author {
      display: none;
    }

    &-field-isbn {
      min-height: 182px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transition: all .1s ease-in;
        display: inline-block;
        border-radius: $bx-corner;
        margin: 0 auto;
      }
    }

    // Ribbon
    &-nothing {
      display: none;
      transition: all .1s ease-in;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 42%;
      z-index: 1;
      left: 0;
      text-align: center;

      .field-content {
        text-align: center;
        display: block;

        a {
          color: $cf-field-link-clr;
          font-family: $header-font-family;
          background: $cf-field-bg;
          border-radius: $bx-corner;
          box-shadow: $bx-shadow;
          padding: 9px 1.213rem;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          line-height: 20px;
          outline: none;
        }
      }
    }
  }

  .views-row:hover {
    opacity: .5;
    .views-field-nothing {
      transform: translate(0, -10px);
    }

    .views-field-field-isbn {
      img {
        box-shadow: $bx-shadow;
      }
    }
  }

  // Slider
  .slick-slider {
    margin-bottom: 0;
  }

  .slick-list {
    max-height: 230px;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    position: static;

    li {
      width: auto;
      height: auto;
      margin: auto;
    }

    li button {
      margin-bottom: 0;

      &:before {
        font-size: 12px;
      }
    }
  }

  // Slider button
  @include slider-next-prev(60px, -11px, -11px, $primary-clr, transparent);
  .slick-prev, .slick-next { top: 50%; }

  @media #{$large-up} {
    .inner-content {
      padding-top: 80px !important;
    }
    .content, .pane-content{
      min-height: 266px;
    }
    .views-row {
      padding-left:5px;
      padding-right:5px;
    }
  }

  @media #{$medium-only} {
    .inner-content {
      padding-top: 65px !important;
    }
    .content, .pane-content{
      min-height: 266px;
    }
    .views-row {
      padding-left:5px;
      padding-right:5px;
    }
  }

  @media #{$small-only} {
    @include slider-next-prev(45px, -8px, -8px, $primary-clr, transparent);
    // .slick-prev, .slick-next { top: 50%; }

    .inner-content {
      padding-top: 54px !important;
    }
    .content, .pane-content{
      min-height: 266px;
    }
    .views-row {
      padding-left:10px;
      padding-right:10px;
    }
    .panel-panel & {
      @include grid-column($columns:12, $collapse: true);
    }
  }
}

// title color
// $seventh-clr: #005751;
// $eight-clr: #7D333E;
// $nineth-clr: #839895;
// $ten-clr: #AAA99F;
.coverflow {
  .eq0 span, .eq4 span { background: $seventh-clr; }
  .eq1 span, .eq5 span { background: $eight-clr; }
  .eq2 span, .eq6 span { background: $nineth-clr; }
  .eq3 span, .eq7 span { background: $ten-clr; }
}

// Coverflow inside modal
#stacks-modal {
  .coverflow {
    margin-bottom: 0;

    @include slider-next-prev(35px, -4px, -4px, $primary-clr);

    .slick-prev, .slick-next {
      top: 32.6%;
      opacity:1;
      transition: all .1s ease-in;
      background-color: white;
      border-radius: 50px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .content {
    height: 250px;
    animation: load-slider 2s normal;
    margin-bottom: 50px;

    @keyframes load-slider {
      0% {
        opacity: 0;
      }

      60% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  > h2 {
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 30%;
      margin: 16px auto 0;
      border-bottom: 1px solid #dedede;
    }
  }
}
