/**********************************************
CTA Callout
***********************************************/
.cta-callout {
  @extend .full-width;
  @extend .row;
  float: left;

  .field-content {
    @extend .bg-box;
    background: $cta-callout-block-bg;
  }

  img {
    border-radius: $bx-corner;
  }

  .wrap-details {
    //@include set-delay(1.5s);
    overflow: hidden;
    display: block;
  }

  .cta-description {
    overflow: hidden;
    display: flex;
    align-items: center;
    color: $main-clr;
  }

  .views-field {
    margin-bottom:10px;
  }

  .imgHolder {
    background-image: none !important;
    padding: 5px;
    border-bottom: 1px solid $sixth-clr;
    &, a:first-child, img {
      width: 100%;
      display: block;
      border-radius: $bx-corner $bx-corner 0 0;
    }

    img {
      background-size: cover;
    }
  }

  .no-imgURL{
    position: relative;
    overflow: hidden;
    background-color:rgba(208, 207, 207, 0.22);
  }

  .cta-title a {
    color: $main-clr;
  }

  .teaser-cont {
    font-size: .85rem;
    position: relative;
    font-family: $font-two;
    color: $main-clr;
  }

  .item-list ul {
    margin: 0;

    li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        color: $main-clr;
        font-size:.9rem;
        list-style: none;
        border-top: 1px solid $cta-list-border-clr;
        display: block;
        padding-bottom: 0.3em;
        font-weight: 600;
      }
    }
  }

  @media #{$large-up} {
    .teaser-cont {
      min-height: 8.9em;
    }

    .views-field {
      float: left !important;
    }
  }
  @media #{$medium-up}{
    margin-top: 10px !important;
    .cta-title {
      position: relative;
      display: block;
      padding: 0.813rem 0.813rem 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
    }
    .item-list li a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 0.3em; 
    }
    .teaser-cont {
      clear: both;
      display: block;
      padding:0 0.813rem 0.613rem;
    }
  }
  @media #{$medium-only}{
    .large-3 {
      @include grid-column(6);
    }

    .large-3:nth-child(3) {
      clear: left;
    }
    .teaser-cont {
      min-height: 115px;
    }
  }
  @media #{$small-only} {
    .field-content {
      padding:0.813rem;
      overflow: hidden;
    }

    .cta-title {
      font-size: .9rem;
      font-weight: 600;
    }

    .imgHolder {
      width: 40%;
      float: left;
      border-bottom: none;
    }
    .imgHolder, .img {
      margin:0 0.713rem 0.713rem 0;
      padding: 0;
    }

    .item-list {
      clear: both;
      display: block;
      ul {
        padding-top: 7px;
      }

      a {
        padding-top: 0 !important;
        padding-bottom: 0.1em;
      }
    }
  }
}



/**********************************************
2 columns / .center-wrapper
***********************************************/
.center-wrapper .cta-callout{
  .wrap-details{ 
      display: none;
  }

  .field-content {
    @media #{$small-only}{
      padding: 0;
    }
  }

  .imgHolder {
    border-bottom: 0;
    img {
      height: 134px;
      background-position: center center !important;
    }

    @media #{$small-only}{
      width: 100%;
      margin: 0 !important;
      padding: 0;
      
      img {
        background-cover: contain;
        height: 84px;
      }
    
    }
  }

  .large-3 {
    width: 50%;

    &:nth-child(odd) {
      padding-right: 0.9375rem;
    }

    &:nth-child(even) {
      padding-left: 0.9375rem;
    }
  }
}

/**********************************************
CTA Callout \\ from caltech dev
***********************************************/
.theme-caltech .panel-flexible.home .backgrounded .panels-flexible-region.callout {
  margin: 0;
}
.theme-caltech .backgrounded .callout .panels-flexible-region-inside {
  margin: 0;
}
.theme-caltech .backgrounded .callout .panel-pane.pane-nodeblock {
  padding: 0;
}
.theme-caltech .backgrounded .cta-callout {
  background-color: #c8c8c8;
  margin: 0 !important;
}
.theme-caltech .backgrounded .cta-callout .views-field {
  margin: 0;
  padding: 0;
}
.theme-caltech .backgrounded .cta-callout .field-content {
  margin: 0.8125rem;
}
.theme-caltech .backgrounded .cta-callout .imgHolder {
  border: none;
}
.theme-caltech .cta-callout .cta-title {
  font-family: 'KievitSlabMedium', Georgia, serif;
  font-size: large;
  font-weight: normal;
}
.theme-caltech .cta-callout .teaser-cont {
  font-family: 'Vaud', Arial, sans-serif;
  min-height: 4em;
}
.theme-caltech .cta-callout .teaser-cont .item-list {
  display: none;
}
@media only screen and (min-width: 40.0625em) { /* min-width 641px, medium screens */
  .theme-caltech .backgrounded .cta-callout .imgHolder {
    padding: 0.40625rem;
  }
  .theme-caltech .cta-callout .cta-title {
    padding: 0.8125rem;
  }
  .theme-caltech .cta-callout .teaser-cont {
    padding: 0 0.8125rem 0.8125rem;
  }
}