/*****************************************
Main Navigation
*****************************************/
#header .main-nav {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  text-align: center;
  border-bottom: 1px solid #FF720C;
  height: 41px;
  position: relative;
  top: 31px;


  & > h2 {
    display: none;
  }

  &.hide {
    display: none;
  }

  .content{
    width:100%;

    ul {
      margin: 0;
      text-align: right;
      width:100%;
    }

    li {
      list-style-type: none !important;
      list-style-image: none !important;
      display: inline-block;
      padding: 0 !important;
      margin: 0;
      position: relative;
    }

    .menu-block-wrapper > ul > li {
      @media #{$xlarge-up}{
        margin: 0 3em 0 !important;
      }

      @media #{$large-only}{
        margin: 0 .9em 0 !important;
      }
    }

    .menu-block-wrapper > ul > li.expanded > a::after {
      display: inline-block;
      top: 0;
      position: relative;
      margin-left: .69rem;
      font-family: fontAwesome;
      content: "\f0d7";
      display: none !important;
    }

    .menu-block-wrapper > ul > li > a {
      border-radius: $bx-corner !important;
      color: $main-nav-link-color;
      margin-right: 1px;
      margin-left: 1px;
      letter-spacing: .0625em;
      padding: 0 .9375rem;
      line-height: 2.8125rem;
      float: left;
      font-size: 1.2em;
      white-space: nowrap;
      font-family: KievitSlabMedium, Times, serif;
      font-weight: bold;


      &.active.active-trail::before, &.active-trail::before {
        font-family: fontAwesome;
        content: "\f0d8";
        color: #FF720C;
        position: absolute;
        right: 50%;
        bottom: -17px;
        width: 26px;
        margin-right: -10px;
        font-size: 27px;
      }

      &:hover {
        background-color: transparent !important;
        color: $primary-clr;

        &::after {
          color: $primary-clr;
        }
      }

      &.active,
      &.active-trail {
        background-color: transparent !important;
        color: $primary-clr;

        &::after {
          color: $primary-clr !important;
        }
      }

      @media #{$large-only}{
        padding: 0 0.4375rem 0 !important;
      }
    }

    // Dropdown
    .menu-block-wrapper > ul > li.expanded:hover {
      & > a {
        color: $primary-clr;
        &::after {
          color: $primary-clr;
        }
      }

      & > ul {
        display: block !important;
      }
    }

    .menu-block-wrapper > ul > li.expanded.last > ul {
      left: auto !important;
      right: 0 !important;
    }

    .menu-block-wrapper > ul > li.expanded > ul {
      display: none;
      position: absolute;
      left: 0;
      top: 2.9rem;
      width: auto;
      min-width: 9.38rem;
      z-index: 9;
      padding-top: .13rem;
      background-color: #76777b;

      li,
      li a {
        width: 100%;
        margin-bottom: 1px !important;
        border: none;
      }

      li {
        clear: both;
        float: left;
      }

      li a.active {
        background-color: $main-nav-dropdown-link-bg;
      }

      li a {
        color: $main-nav-dropdown-link;
        padding:10px;
        text-align: left;
        float: left;
        white-space: nowrap;
        margin: 0;

        &:hover {
          background-color: $primary-clr;
        }
      }
    }
  }

  @media #{$small-only}, #{$medium-only} {
    & {
      display: none !important;
    }
  }

  @media #{$small-only} {
    & {
      margin-top: .31rem;
      padding: 0;
    }
  }
}

// hideitems in the nav
.nav-bar {
  margin-top: 0;
  background-color: transparent;
}
.nav-container {
  display: block;
}
.nav-container.top {
  margin-bottom: 0;
  padding: 18px;
}
.nav-main {
  float: none;
  border-top: 1px none $primary-clr;
  border-bottom: 1px none $primary-clr;
  background-color: transparent;
  box-shadow: none;
}


/*****************************************
Main Navigation // from caltech dev
*****************************************/
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a {
  color: rgb(105, 107, 115);
  font-family: 'KievitSlabMedium', Georgia, serif;
  font-size: large;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li a {
  padding: 5px 10px;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li hr {
  margin: 5px 0;
}