/**********************************************
Mini Slider
***********************************************/
.mini-slider {
  margin: 10px 0;
  padding: 0 !important;
  overflow: hidden;
  @include grid-column($columns:12, $collapse:false);

  .blk-title {
    @extend .blk-title;
    display: none;
  }

  .slick-slider {
    border-radius: $bx-corner;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
  }

  .inner-content {
    margin: 0 -0.9375rem;
  }

  .views-row {
    border-radius: $bx-corner;
    padding: .45rem;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: opacity .3s ease-in-out;
    float:left;
    height: 124px;
    justify-content: center;
    overflow: hidden;
    transition: all .1s ease-in;

    &:hover {
      opacity: .8;
    }
  }

  .slick-list {
    .views-row {
      background-color: $sixth-clr;
      border: 1px solid darken($sixth-clr, 5%);
    }
    .views-row:nth-child(4n+2) {
      background-color: $secondary-clr !important;
      border: 1px solid darken($secondary-clr, 5%) !important;
    }

    .views-row:nth-child(4n+3) {
      background-color: $third-clr !important;
      border: 1px solid darken($third-clr, 5%) !important;
    }

    .views-row:nth-child(4n+4) {
      background-color: $fourth-clr !important;
      border: 1px solid darken($fourth-clr, 5%) !important;
    }
  }

  .ttl {
    &, p {
      padding: 0 10px;
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 0;
      color: white;
    }
  }

  .img-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  .img-wrapper {
    border-radius: $bx-corner;
    width: 5.13rem;
    height: 6.13rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    img {
      display: none;
    }
  }

  // Slider
  .slick-slider {
    margin: 0 .9em;
  }

  .slick-list {
    max-height: 124px
  }

  .slick-dots {
     display: none !important;
  }

  // Slider button
  @include slider-next-prev(22px, 0.7rem, 0.7rem, $primary-clr);
  .slick-prev, .slick-next {
    box-shadow: 0 0 2px rgba(138, 138, 138, 0.67);
  }
  .slick-prev:before, .slick-next:before {
    line-height: 1.1;
  }

  @media #{$large-up}{
    .views-row {
      margin: 0 0.9375rem 0 0.9375rem;
    }
  }

  @media #{$medium-only} {
    .views-row {
      margin: 0 0.9375rem 0 0.9375rem;
    }
  }

  @media #{$small-only} {
    .views-row {
      margin: 0 0.9375rem 0 0.9375rem;
      padding: 0 1.35rem;
    }

    .img-wrapper {
      width: 3.13rem;
      height: 3.13rem;
    }

    .ttl {
      &, p {
        padding: 0 5px;
        font-size: 0.8em;
        font-weight: normal;
      }
    }

    .panel-panel & {
      @include grid-column($columns:12, $collapse: true);
    }
  }

  @media #{$small-only}, #{$medium-only}{
    & {
      padding-top:0;
      margin: 0 0 10px!important;
    }
  }


}

// Animate on load
.cssanimations .mini-slider {
  @include load-animate;
}

/**********************************************
Mini Slider in Database Page
***********************************************/
.page-databases .mini-slider {
  & {
    padding: 0;
    margin-top: 0 !important;
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .slick-slider{
    margin-left: 0;
    margin-right: 0;
  }
  .db-logo {}
  .db-cat-name {}
}
