/**********************************************
Side Filter
this style puts all your form in one wrapper
***********************************************/
.side-filter {
  @extend .bg-box;
  padding: 0.913rem $bx-padding 0.713rem;

  .form-submit {
    @extend %form-submit-button;
    background-color: $side-filter-submit-bg;
    border-radius: $bx-corner;
    
    &:hover {
      background-color: darken($side-filter-submit-bg, 5%);
    }
  }
}

/**********************************************
Side Filter Events Filter
***********************************************/
.side-filter-ext {
  .views-exposed-widget {
    @extend .bg-box;
    padding: 0.913rem $bx-padding 0.713rem;
    background: $bx-background;
  }
}
