/**********************************************
Stacks Search
***********************************************/
.block-hf-stacks-search {
  background-color: #e9e7e4 !important;
  @include grid-column(12);

  .content {
    display: flex;

    h4 {
      display: none;
    }

    .columns {
      padding: 0;
    }

    .region-header-search {
      width: 100%;
    }

    input#searchBox,
    select,
    input#searchSubmit {
      margin-bottom: 10px;
      border: none;
    }

    input#searchBox, input#searchSubmit {
      line-height: 45px;
      height: 45px;
      border: solid 1px $sixth-clr;
    }

    select {
      margin-bottom: 10px;
      height: 38px;
      background-image: url(../img/icon_arrow-down.svg);
      background-size: 24px 24px;
      border: solid 1px $sixth-clr;
      border-left: 0;
      border-right: 0;
      display: block;
    }

    input#searchSubmit {
      background-color: $src-btn-bg;
      color: $src-btn-clr;
      border-top-right-radius: $bx-corner;
      border-bottom-right-radius: $bx-corner;
      padding: 0;
      width: 100%;
      border: solid 1px darken($src-btn-bg, 5%);
      outline: 0;


      &:hover, &:active, &:focus, {
        background-color: darken($src-btn-bg, 5%) !important;
      }

      &[disabled], &[disabled]:hover {
        background-color: lighten($src-btn-bg, 30%) !important;
        border: solid 1px lighten($src-btn-bg, 20%);
      }
    }
  }

  @media #{$large-up} {
    .content {
      padding: 2em;
    }

    select {
      border-left: none;
    }

    input#searchBox,
    input#searchSubmit {
      font-size: 1em;
    }

    input#searchSubmit {
      border-top-right-radius: .31rem;
      border-bottom-right-radius: .31rem;
    }
  }

  @media #{$medium-up} {
    border: solid 1px $sixth-clr;
    margin-bottom: 10px;

    select {
      border-left: none;
    }

    input#searchBox {
      border-top-left-radius: $bx-corner;
      border-bottom-left-radius: $bx-corner;
    }


    .searchBoxWrap {
      @include grid-column(10);
    }
  }

  @media #{$medium-only}, #{$small-only} {
    border-top: solid 1px $sixth-clr;
    border-bottom: solid 1px $sixth-clr;
  }

  @media #{$medium-only} {
    .content {
      padding: 1.2em 1.2em 1.2em;
    }

    .searchBoxWrap {
      @include grid-column(9);
    }

    .large-2 {
      @include grid-column(3);
    }
  }

  @media #{$small-only} {
    border: none;
    .content {
      padding: 0.4em 0 0.4em;
    }
    input#searchBox,
    select,
    input#searchSubmit {
      border-radius: $bx-corner !important;
    }

    .searchBoxWrap {
      @include grid-column(9);
    }

    .large-2 {
      @include grid-column(3);
    }
  }
}


/**********************************************
Header with main background / solid background
.image-bg-enable, .solid-bg-enable
***********************************************/
.image-bg-enable, .solid-bg-enable {
  .block-hf-stacks-search {
    background: rgba(white, .9);
    border-top: none;
    & > .content {
      padding-top: 0;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }

  @media #{$small-only} {
    .block-hf-stacks-search {
      & > .content {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
      }
    }

    #search > .large-12.columns {
      padding: 0;
    }    
  }
}


/**********************************************
Select Wrapper / js-selectWrapper
***********************************************/ 
.selectWrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  li:first-child {
    border-bottom-left-radius: 2px;
  }

  li:last-child {
    border-bottom-right-radius: 2px;
  }

  li {
    color: #5f5f5f;
    background: lighten($sixth-clr, 5%);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: -10px 0 0;
    padding: 6.4px 20px;
    letter-spacing: 0.8px;
    border-top: 1px solid #d0d0d0;
    float: left;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  li:not(:first-child) {
    border-left: 1px solid rgba(148, 148, 148, 0.35);
  }

  li.active {
    color: white;
    border-top: 1px solid #b9b9b9;
    background: darken($sixth-clr, 10%);
    text-shadow: -1px -1px #696a6b;
    background: linear-gradient(to bottom, darken($sixth-clr, 10%) 0%, darken($sixth-clr, 15%) 100%);
  }

  @media #{$small-only}{
    margin: 0 -15px 0 -15px;
    li {
      border-width: 2px;
      font-size: .70rem;
      font-weight: lighter;
      padding: 6.4px 1px;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.43);
    }

    li.active {
      border-width: 2px;
    }
  }
}

.selectSearchWrapper {
  position: relative;
  display: none;
}