/**********************************************
Toggle mobile
***********************************************/
.toggle-mobile {
  $w: 3.13rem;
  $h: 1.25rem;

  display: none;
  position: absolute;
  right: 1.59rem;
  top: 0.88rem;
  opacity: .8;
  transition: opacity .1s ease-in, transform .1s ease-in;

  span {
    display: none;
  }

  &:before  {
    content: "\f0c9";
    font-family: fontAwesome;
    color: $primary-clr;
    font-size: 1.3rem;
  }

  &:hover {
    opacity: 1;
    transform: translate(0, -2px);
  }

  @media #{$small-only}, #{$medium-only} {
    display: block;
  }

  @media #{$medium-only} {
    top: 1.28rem;
    right: 1.39rem;
  }

  @media #{$small-only} {
    top: 0.28rem;
  }
}

/**********************************************
Toggle mobile with main background / solid background
.image-bg-enable, .solid-bg-enable
***********************************************/
.image-bg-enable .toggle-mobile, .solid-bg-enable .toggle-mobile {
  @media #{$medium-only}{
    top: 2.78rem;
    right: 2.6375rem;
  }
}



