/**********************************************
Basic Search
***********************************************/
#top-header .top-menu {
  float: right;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 6px 0;
  height: 28px;
  line-height: 28px;

  & > h2 {
    display: none;
  }

  .content {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      padding: 0;
      margin: 0;

      a {
        font-family: $header-font-family;
        padding: 0 .4374rem;
        font-size: .8rem;
        color: $top-link-clr;
        height: 1.69rem;
        line-height: 1.69rem;
        letter-spacing: .0625em;
        float: left;
        transition:opacity 200ms ease, transform 200ms ease;

        &:hover {
          opacity: .8;
          top:-5px;
          transform: translate(0,-2px);
        }
      }
    }
  }

  @media #{$medium-only}, #{$small-only} {

    &.hideThis {
      display: none;
    }
  }
}

