/**********************************************
Uni Tabs
***********************************************/
#tabs-wrapper {
  position: relative;
  margin-left: $bx-padding;
  margin-right: $bx-padding;
  top: 17px;
  z-index: 99;

  .inner {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;

    @include slider-next-prev(25px, 0, 0, $fifth-clr);

    .slick-prev, .slick-next {
      opacity:1;
      height:41px;
      top: 10px;
      background-color: lighten($sixth-clr, 20%);
    }

    .slick-prev:hover, .slick-next:hover {
      opacity:.8;
    }

    .slick-prev {
       border-top-left-radius: $bx-corner;
       border-bottom-left-radius: $bx-corner;
    }

    .slick-next {
       border-top-right-radius: $bx-corner;
       border-bottom-right-radius: $bx-corner;
    }

    .slick-dots {
      display: none !important;
    }
  }

  .slick-list {
    border-radius: $bx-corner;
    margin-right: 26px;
    margin-left: 26px;
  }
}


.tabs-ttl {
  outline: none;

  span {
    display: block;
    background-color: $uni-tabs-ttl-bg;
    color: $uni-tabs-clr;
    font-size: .85rem;
    padding: 0 .75rem;
    margin: 0;
    outline: none;
    height:41px;
    line-height:41px;
    border-right: 1px solid $uni-tabs-border-clr;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    // text-shadow: -1px -1px #696a6b;
    border-top: 1px solid #d0d0d0;

    &:hover {
      color: $uni-tabs-clr;
      background-color: $uni-tabs-ttl-hov-bg;
    }
  }
}

.tabs-ttl.active span {
  background-color: $uni-tabs-ttl-active-bg !important;
}

/**********************************************
Uni Tabs
***********************************************/
.uni-tabs {
  position: relative;
  @include grid-column($columns:12, $collapse:false);

  .view-header {
    height: 0;
  }

  > h2 {
    @extend %title-a;
    display: none;
  }

  .view-content {
    background: $big-slider-bg;
    border-radius: $bx-corner;
    border: $bx-border;
  }
}


// Maps
.map-wrapper {
  @media #{$medium-only}, #{$small-only} {
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
    height: 246px;
    width: 100%;
  }
}
.uni-tabs .uni-map-inline {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  height: 250px;
  z-index: 4;

  &.hideMap {
    opacity: 0;
    left: -2000px;
    position: absolute;
  }

  @media #{$large-up} {
    width: 41.4%;
    position: absolute;
    right: 30px;
    top: 107px;
  }
  @media #{$medium-only}, #{$small-only} {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
  }
}

.uni-tabs .uni-map{
  display: none;
}


.view-branch-location {
  float: none;
  margin-bottom: 10px;

  // Heading
  h2 {
    display: none;
  }

  // Branch Name
  .branch-name {
    padding: 0;
    margin: 0 0 15px;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    background: none;
    cursor: default;
    color: $uni-tabs-branch-clr !important;
  }

  // Blocks and Views
  .views-row {
    padding: 100px 1.013rem $bx-padding;
    @extend .clearfix;
  }

  .views-row.active {
    display: block !important;
    z-index: 4;
    position: relative;
  }

  .views-row:first-child {
    display: block;
  }

  .views-row {
    display: none !important;
  }

  .img-branch {
    img {
      border-radius: $bx-corner;
      margin-bottom:20px;
    }
  }

  .views-field-field-branch-image {
    margin-bottom: 10px;
  }

  // Sked
  .sked {
    overflow:hidden;

    .col1, .col2 {
      float: left;
      margin-left: auto;
      margin-right:10px;
    }

    .views-field-field-branch-notes {
      clear:both;
      overflow: hidden;
      padding-top: 15px;
      > .views-label, > .field-content {
        float:left;
      }
    }
  }

  .sked .views-field, .add-info .views-field{
    & > .views-label, & > .field-content {
      display:inline-block;
      font-size:.9rem;
    }
  }

  // Add Info
  .add-info {
    border-top:1px solid lighten($primary-clr, 70%);
    margin-top: 15px;
    padding-top: 20px;
  }
  .add-info, .views-field-field-branch-location-notes {
    padding-top: 10px;
    p {
      font-size:.9rem;
    }
  }

  @media #{$large-up}{
    // Map
    .views-field-field-branch-image {
      float:right !important;
      margin-left: 20px;
      padding-left: 10px;
      padding-bottom: 10px;
      background: white;
    }

    // Sked
    .sked {
      width:50%;
    }
    .sked .views-field{
      margin-right: 75px;
      & > .views-label {
        width: 99px;
      }
    }

    // Add Info
    .add-info {
      width:55%;
    }

    .views-row {
      min-height: 410px;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    .sked {
      .col1, .col2 {
        float: none;

        .views-label {
          font-weight: 600;
        }
      }
    }
    .views-field-field-branch-notes .views-label {
      display: block !important;
      float:none !important;
    }


  }
}


/**********************************************
Uni Tabs / Single Location
***********************************************/
.uni-tabs.single-location {
  .view-header {
    display: none !important;
  }
  .views-row {
    padding: 1.813rem 1.013rem .813rem;
  }
  

  @media #{$large-up}{
    .uni-map-inline {
      top: 25px !important;
    }

    .view-branch-location .views-row {
      min-height: 340px;
    }    
  }
}
