// CTA Callout
.cta-callout {
  $ht:auto;
  $wh: 0;
  $bdr-clr: #e7e7e7;
  $padTop: 12px;
  z-index: 0;
  margin:24px 0;


  @extend .clearfix;

  .blk-title {
    display: none;
    @extend %title-a;
  }

  .large-3.columns {
    margin-bottom: 0;
    z-index: 0;
    transition: all .4s ease-in;
  }

  .field-content {
    background: $cta-callout-block-bg;
  }

  .cta-title {
    position: relative;
    display: block;
    font-family: $cta-title;
    margin:0.813rem 0.813rem 0;
    padding-bottom:10px;
    //padding-left: 34px;
    border-bottom:1px solid $bdr-clr;
    transition: all .1s ease-in;

    a {
      display: inline-block;
      color:$font-clr;
      font-size: 1rem;
      line-height: 1.4;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .cta-description {
    height: 43px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .views-field {
    margin-bottom:20px;
  }


  .imgHolder {
    overflow: hidden;
    display: inline-block;
    position: relative;


    &, a:first-child {
      img {
        width:100%;
      }
    }

    img {
      background-size: cover;
    }

    a {
      width:100%;
      display: block;
    }
  }

  .teaser-cont {
    //margin-left: 33px;
    padding:$padTop 13px 13px;
    font-size: .80rem;
    clear: both;
    position: relative;
    display: block;
    font-family: $font-two;
    color: $cta-paragraph-clr;
  }

  .item-list ul {
    margin:$padTop 0 0;
    border-top:1px solid $bdr-clr;

    li {
      margin: 0;
      padding: 8.1px 0 10.4px;
      list-style-type: none;
      overflow: hidden;
      display: block;
      border-bottom:1px solid $bdr-clr;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &, a {
        font-size:.75rem;
      }

      a {
        border-top: 1px solid $cta-list-border-clr;

        span {
          list-style: none;
          padding: 7px 15px;
          border-radius: 14px;
          transition: opacity .1s ease-in;
          display: inline-block;

          &:hover { opacity:.8; }
        }
      }
    }
  }

  .ttl-img {
    display: none !important;
    color:white;
    font-family: $font-two;
    padding: 20px;
    border:2px solid white;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    font-size: .85rem;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  // item black
  .large-3.columns:first-child, .large-3.columns:nth-child(4) {
    .imgHolder a{
      background: $cta-callout-img-bg-I;
    }
    li a span{
      background: black;
      color: white;
    }
  }
  // item primary color
  .large-3.columns:nth-child(2), .large-3.columns:nth-child(3) {
    .imgHolder a{
      background: $cta-callout-img-bg-II;
    }
    li a span{
      background: $cta-title-link-clr;
      color: white;
    }
  }

  // Hover
  .large-3.columns:hover {
    .imgHolder a{
      transition: all .4s ease-in;
    }

    &:first-child .imgHolder a, &:nth-child(4) .imgHolder a{
      background: $cta-callout-img-bg-II;
    }

    &:nth-child(2) .imgHolder a, &:nth-child(3) .imgHolder a{
      background: $cta-callout-img-bg-I;
    }

    .ttl-img {
      transition: all .1s ease-in;
      border: 4px solid white;
    }
  }

  @media #{$large-up} {
    .large-3.columns {
      height:$ht;
    }
    .field-content {
      height: $ht;
    }

    .teaser-cont {
      min-height: 8.9em;
    }

    .large-3.columns {
      //@include grid-column($columns:6, $collapse:true);
    }

    // left image item
    .large-3.columns:first-child, .large-3.columns:nth-child(2) {
      .field-content {
        padding-left: $wh;
      }
      .imgHolder {
        left: 0;
      }

      .wrap-details, .imgHolder {
        float:left;
      }
    }

    // right image item
    .large-3.columns:nth-child(3), .large-3.columns:nth-child(4) {
      .field-content {
        padding-right: $wh;
        align-items: right;
      }
      .imgHolder {
        right: 0;
      }
    }
    .wrap-details, .imgHolder {
      float:right;
    }
  }

  @media #{$medium-up} {
    .wrap-details, .imgHolder {
      width: 100%;
    }
  }

  @media #{$small-only} {
    .wrap-details, .imgHolder {
      width:50%;
    }

    .ttl-img {
      margin: 24% 24%;
    }
  }

  @media #{$medium-only}, #{$small-only} {
    .large-3.columns {
      @include grid-column($columns:12, $collapse:true);
    }
  }

  @media #{$medium-only} {
    .cta-title, .cta-description {
      padding-left: 0 !important;
    }

    .teaser-cont {
      margin-left: 0;
    }

    .imgHolder {
      background-image: none !important;
      position: relative;
      padding: 10px 0 0 10px;
      width: 30%;
      float: left;

      .ttl-img {
        display: none;
      }
    }

    .wrap-details {
      width: 70%;
      float: left;
    }

    .large-3.columns {
      @include grid-column($columns:6, $collapse:true);
      position: relative;
      width: 100%;
    }

    .field-content {
      padding-bottom: 20px;
      height: auto!important;
    }

    .item-list li {
      &:last-child {
        border:none;
      }
    }

  }

  @media #{$small-only} {
    .cta-title, .cta-description {
      padding-left: 0 !important;
    }

    .teaser-cont {
      margin-left: 0;
    }

    .imgHolder {
      background-image: none !important;
      position: relative;
      padding: 10px 0 0 10px;
      width: 30%;
      float: left;

      .ttl-img {
        display: none;
      }
    }

    .wrap-details {
      width: 70%;
      float: left;
    }

    .large-3.columns {
      @include grid-column($columns:6, $collapse:true);
      position: relative;
      width: 100%;
    }

    .field-content {
      padding-bottom: 20px;
      height: auto!important;
    }

    .item-list li {
      &:last-child {
        border:none;
      }
    }
  }
}

// reset row
.pane-views-callouts-block-3,
.pane-views-callouts-placements-block-2 {
  @extend .row;
}
