/**********************************************
Database Page
***********************************************/
.page-news {
  // Filters
  #hf-news-form-filter {
    @extend .bg-box;
    background: #f5f5f5;
    margin-bottom: 10px;
    padding: $bx-padding;

    .form-item {
      margin:0;
    }

    .form-text {
      margin-bottom: 10px;
    }

    .form-submit {
      @extend %form-submit-button;
    }
  }
}
