// reserves
.reserves-details {
  margin-bottom: 1.25rem;
  padding-bottom: .8rem;
  font-size: $paragraph-font-size;
  border-bottom: $bx-border;
}
.reserves-details-group {
  display: block;
  margin-bottom: .25rem;

  @media #{$small-only} {
    @include grid-row();
    margin-bottom: .5rem;
  }
}
.reserves-detail-title {
  display: inline-block;
  font-weight: bold;

  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
  @media #{$medium-up} {
    width: 180px;
  }
}
.reserves-detail-info {

  @media #{$small-only} {
    @include grid-column(12, $collapse:true);
  }
}
.reserves-content {}
.reserves-body {}
.reserves-attachment {
  @media #{$small-only} {
    table { width: 100%; }
  }
}
.reserves-share {}
.reserves-comments {}

// reserves titles (target class for icons)
.reserves-date { &::before {} }
.reserves-course { &::before {} }
.reserves-courseID { &::before {} }
.reserves-course-regID { &::before {} }
.reserves-instructor { &::before {} }
.reserves-term { &::before {} }
.reserves-workflow { &::before {} }




// overrides from drupal nested content (should delete these classes after node--reserves.tpl.php is fixed)
.reserves-details {
  .date-display-range {
    display: inline;
  }
}