/**********************************************
Side Filter
this style puts all your form in one wrapper
***********************************************/
.side-filter {
  @extend .bg-box;

  padding: 0.913rem $bx-padding 0.713rem;
  margin-bottom: 20px;
  background: $main-gradient-fallback;
  background: $bx-background;
  width: 100%;
  border:$bx-side-border;

  .views-exposed-widget {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form-type-select {
    margin-right: .19rem;
  }

  select {
    margin-right: 0;
  }

  .form-submit {
    @extend %form-submit-button;

    background: $side-filter-submit-bg;
    margin-top: 0 !important;
  }

  // Specifics
  .views-widget-filter-field_course_date_value select {
    font-size: .8em;
    margin-right: .63rem;
  }

  .form-type-date-select > div > div:last-child {
    margin-right: 0;
  }
}

/**********************************************
Side Filter Events Filter
***********************************************/
.side-filter-ext {
  margin-bottom: 20px;

  .views-exposed-widget {
    @extend .bg-box;

    padding: 0.913rem $bx-padding 0.713rem;
    margin-bottom: 10px;
    width: 100%;
    background: $bx-background;
  }

  .bef-checkboxes {
    padding-top: 10px;

    input[type="checkbox"] {
      margin-bottom: .5rem;
    }
  }

  label.option {
    font-weight: normal;
  }

  a.bef-toggle {
    text-align: right;
    float: right;
    margin-top: -1.125rem;
    font-size: .75rem;
  }

  .js-hide {
    display: none !important;
  }

  @media #{$large-up}{
    .btn-close-modal {
      display: none;
    }
  }

  @media #{$small-only}, #{$medium-only} {
    .content {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.97);
      padding: 20px;
      opacity: 0;
      transition: opacity .1s ease-in;
      z-index: -1;
      overflow-y: scroll;
    }

    .content.active {
      opacity: 1;
      z-index: 3;
    }

    .btn-close-modal {
      float: right;
      border-radius: 50px;
      background: grey;
      width: 24px;
      height: 24px;
      text-align: center;
      font-weight: bold;
      color: white;
      font-size: 16px;
      opacity: .7;
      margin-bottom:10px;

      .logged-in & {
        margin-top:46px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

/**********************************************
Events Filter
***********************************************/
.side-filter-ext .btn-filter {
  cursor: pointer;
  letter-spacing: 0.5px;
  display: block;
  float: right;
  margin-top: -30px;

  @media #{$large-up} {
    display: none;
  }

  @media #{$small-only}, #{$medium-only} {
  
    & {
      &:hover {
        opacity: .8;
      }
    }

    i {
      $wh: 12px;

      width: $wh;
      height: $wh;
      display: inline-block;
      background: url(../img/icon_filter.svg) no-repeat center center;
      background-size: $wh $wh;
      margin-right: 3px;
    }
  }
}

/**********************************************
Directory listing
***********************************************/
.page-directorylisting #hf-directories-form-filter, .page-databases .sidebar > form {
  @extend .side-filter;

  & > div > .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }
}

select.form-select {
  @extend input[type="text"];
}