/**********************************************
Views Module
***********************************************/
.views-module {
  .views-row {
    background: $main-gradient;
    border-radius: $bx-corner;
    padding: $bx-padding;
    border: $bx-border;
    display:block;
    overflow: hidden;
    margin-bottom: 1em;
    position: relative;
  }

  .book-jacket {
    text-align: center;
    float: left;
    padding-right:10px;

    img{
      width:100%;
    }

    .file-format {
      padding: 2px;
      position: relative;
      color: #949494;
      font-size: .85em;
    }
  }

  .item-details{
    font-size:.9em;
    display: block;
    overflow: hidden;

    ul {
      margin:0 !important;
      padding:0 !important;
    }
  }

  .save-item-hold {
    margin-top:10px;
  }

  #saved-items-form {
    display: block;

    @media #{medium-up} {
      display: inline-block;
    }
  }

  .title {
    border-bottom: 1px solid $my-ac-hd-border-clr;
    padding-bottom: .25em;
    margin-bottom: 1em;
  }

  .btn-wrapper{
    margin-top: 1em;
    display:block;

    .button {
      margin-bottom:0;
    }
  }

  @media #{$large-up}{
    .book-jacket {
      width:100px;
    }
  }

  @media #{$medium-up} {
    .save-item-hold {
      margin-left:60px;

      &, .form-wrapper {
        text-align:right;
      }
    }


  }

  @media #{$small-only} {
    .save-item-hold {
      text-align: center;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    .title {
      font-size: 1rem;
    }
    .book-jacket {
      width:60px;

      .file-format {
        display: none;
      }
    }

    .save-item-hold {
      clear:both;
      padding-top:5px;
    }
  }


}







