/**********************************************
Responsive Mobile
***********************************************/
.toggle-resizer {
  display: none;
}

.font-resizer.font-resizer-block {

  @media only screen and (max-width: 64em) {
    display: block;
    font-size: 1.1rem;

    .toggle-resizer {
      display: block !important;
      color: #D9DBDC;
      cursor: pointer;
      position: absolute;
      top: 34px;
      right: 64px;
    }

    &.show-resizer .toggle-resizer{
      color: grey;
    }

    .rf-wrapper {
      display: none;
      clear: both;

      &.show-resizer {
        display: flex !important;
        position: absolute;
        top: 70px;
        right: 30px;
      }
    }
  }

}


/**********************************************
Font Resizer Desktop
***********************************************/
@media only screen and (min-width: 64em) {

  .header-row .font-resizer {
    display: none !important;
  }

  .font-resizer.font-resizer-block {
    z-index: 1;
    display: block;

    .mobile-menu {
      display: none;
    }

    .fUp {
      margin-right: 10px;
    }

    .fDown {
      margin-right: -1px;
      margin-left: 10px;
    }
  }

}

.font-resizer {
  .fUp, .fDown {
    cursor: pointer;
    float: right;
    border: 1px solid #9D9C9B;
    border-radius: 0;
    font-size: 14px;
    color: #E6E6E6;
    min-width: 43px;
    text-align: center;
    height: 28px;
    padding: 2px;
    // line-height: 28px;
    opacity: .7;

    &.max-font, &.min-font {
      cursor: default;
      opacity: .3;

      &:hover, &:focus, &:active {
        opacity: .3;
        top: -5px;
        transform: translate(0, -2px);
      }
    }

    &:hover, &:focus, &:active {
      opacity: 1;

      i {
        top: -5px;
        transform: translate(0, -2px);
      }
    }
  }

  .fa-minus, .fa-plus {
    font-size: 8px;
    margin: 0 5px;
    position: relative;
    top: -2px;
  }
}