@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "normalize";
@import "foundation";

body {
	background: -webkit-linear-gradient(white, #efefef);
}

.maintenance-page {
	&, h1 {
		color: #404040;

	}
	&, #page {
		height: 100%;	
	}

	#header {
		width: 100%;
	}
	
	#page, #logo-title {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex: 1 100%;

	  &#page {
	  	flex-direction: column;	
	  }

	  &#logo-title {
	  	margin-bottom: 30px;
	  }
	}

	#logo {
		margin-right: 15px;
	}	

	#site-name {
		line-height: 0.6;

		a {
			color: #41AB19;
			font-size: 2.5rem;
		}
	}

	#content {
		text-align: center;
	}

	.title {
		font-size: 38px;
	}
	// #header {
	// 	#logo, #name-and-slogan {
	// 		float:left;
	// 	}		
	// }



	// .Aligner-item {
	//   max-width: 50%;
	// }

	// .Aligner-item--top {
	//   align-self: flex-start;
	// }

	// .Aligner-item--bottom {
	//   align-self: flex-end;
	// }
}