// Fonts
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900|Fauna+One);

$font-one: 'Playfair Display', serif;
$font-two: 'Fauna One', serif;

// Internal Vendor
@import "metals/functions";
@import "metals/settings";
@import "foundation";

// Gradient
$main-gradient-fallback: $white;  // Remove this
$main-gradient: white; // Remove this

// Colors
$primary-clr: #929292;
$secondary-clr: #4E4E4E;
$third-clr: #f5f5f5;
$fourth-clr: #b8b2aa;
$font-clr: $body-font-color;

// Remove this
$fifth-clr: pink;
$sixth-clr: #F7F7F7;
// Remove this

// Components
$bx-background:#f5f5f5;
$bx-shadow:none;
$bx-border: none;
$bx-corner: 0;
$bx-padding: 0.813rem;
$bx-side-border: 1px solid lighten($fourth-clr, 22%);

// top menu
$top-link-clr: $white;

// Header Row
$header-row: $secondary-clr;

// site brand
$name-slogan-clr: white;
$logo-name-slogan-clr: white;

// mobile-nav
$mob-nav-link-clr: $secondary-clr;
$mob-nav-link-hov-clr: $primary-clr;

// search
$src-btn-bg: $primary-clr;
$src-btn-bg-hover: darken($primary-clr, 5%);
$src-btn-clr: white;
$src-btn-disabled: $primary-clr;

// callout
$cta-title: $font-one;
$cta-callout-block-bg: $white;
$cta-callout-img-bg-I: rgba($secondary-clr, .6);
$cta-callout-img-bg-II: rgba($primary-clr, .6);
$cta-title-link-clr: $primary-clr;
$cta-list-border-clr: $white;
$cta-paragraph-clr: $secondary-clr;

// resource slider
$resource-slider-bg: $third-clr;
$resource-slider-inner-bg: lighten($third-clr, 15%);
$resource-slider-row-border-clr: rgba(255, 255, 255, 0.22);
$resource-slider-title: $font-clr;

// footer
$ft-bg-clr: $secondary-clr;

// Modal
$modal-button-bg: $primary-clr;

// Base
$base-link-clr: $third-clr;
$base-tbl-bg: rgba(245, 245, 245, 0.48);
$base-tbl-hr-clr: rgba(34, 34, 34, 0.81);
$base-tbl-tr-odd-bg: $white;
$base-hd-border-clr: #d8d8d8;
$base-tabs-border-clr: $base-hd-border-clr;
$base-tabs-link-bg: rgba(221, 221, 221, 0.28);
$base-tabs-link-border-clr: rgba(187, 187, 187, 0.34);
$base-sharethis-border-clr: $base-hd-border-clr;

// Main Navigation
$main-nav-bg: white;
$main-nav-link-color: $tuatara;
$main-nav-link-hover-bg: $primary-clr;
$main-nav-link-hover-color: white;
$main-nav-link-active-bg: $primary-clr;
$main-nav-arrow: url(../img/icon_arrow-down.svg) no-repeat center center;
$main-nav-arrow-hover: url(../img/icon_arrow-down-hover.svg) no-repeat center center;

// Main Dropdown
$main-nav-dropdown-bg: $primary-clr;
$main-nav-dropdown-link: white;

// Breadcrumbs
$breadcrumbs-bg: $fifth-clr;
$breadcrumbs-first-clr: lighten($third-clr, 40%);
$breadcrumbs-active-clr: $breadcrumbs-first-clr;

// // Main Wrapper
$main-wrapper-bg: $sixth-clr;



// days in history
$dih-bg: $white;

// tabs
$uni-tabs-bg: transparent;
$uni-tabs-clr: $primary-clr;
$uni-tabs-ttl-bg: lighten($primary-clr, 76%);
$uni-tabs-ttl-active-bg: lighten($primary-clr, 70%);
$uni-tabs-ttl-hov-bg: lighten($primary-clr, 73%);
$uni-tabs-branch-clr: #333;
$uni-tabs-border-clr: lighten($primary-clr, 75%);


// mini slider
$mini-slider-bg: $third-clr;
$mini-slider-inner-bg: white;
$mini-slider-row-bg: white;

// big slider
$big-slider-bg: white;
$big-slider-inner-bg: white;
$big-slider-row-bg: $main-gradient;



// calendar
$cal-date-heading-color: $primary-clr;
$cal-border-clr: #cacaca;
$cal-date-single-bg-clr: $white;
$cal-date-bg-clr: #dfdfdf;
$cal-day-link-clr: $primary-clr;
$cal-view-bg-clr: $primary-clr;
$cal-view-clr: $white;
$cal-view-link-clr: #f5ffd5;
$cal-today-border-clr: $primary-clr;
$cal-event-bg-clr: $primary-clr;
$cal-event-link-clr: $white;

// child submenu
$child-mu-link-clr: $primary-clr;
$child-mu-border: #ECECEC;
$child-mu-border-clr: #e6e6e6;
$child-mu-link-hv-clr: rgba($black, 0.025);

// coverflow
$cf-field-bg: $primary-clr;
$cf-field-link-clr: $white;
$cf-banner-link-bg: #545758;

// eds
$eds-slick-clr: $primary-clr;
$eds-border-clr: $hr-border-color;

// login-form
$lf-desc-clr: #afafaf;
$lf-btn-bg: $primary-clr;


// my-account
$my-ac-arrow-clr: #808080;
$my-ac-bg-size: 0.63rem;
$my-ac-hd-border-clr: $base-hd-border-clr;

// node-guides here
$node-guide-side-link-clr: white;
$node-guide-side-link-bg: $secondary-clr;
$node-guide-side-link-active-bg: lighten($secondary-clr, 10%);
$node-guide-side-ttl-clr: $primary-clr;

// node-guides
$node-tabs-link-clr: $primary-clr;
$node-tabs-border-clr: $child-mu-border-clr;
$node-link-active-bg-clr: rgba($black, 0.025);

// node
$node-field-clr: grey;
$node-author-border-clr: $child-mu-border-clr;
$node-fieldset-bg-clr: #f9f9f9;

// side filter
$side-filter-submit-bg: $primary-clr;

// toolbar
$tool-bg: #434c52;

// views
$view-bg: $third-clr;
$view-date-clr: ligthen($primary-clr, 20%);

// views-e-resources
$view-e-heading-clr: $primary-clr;
$view-e-after-clr: #4b4747;
$view-e-border-clr: #d6d6d6;
$view-e-hov-bg: darken($third-clr, 2);
$view-e-item-bg: $third-clr;
$view-e-item-link-clr: $primary-clr;

// Term Page
$trmp-bg: white;
$trmp-date-clr: lighten($primary-clr, 20%);

// alert messages
$alt-msg-link: #C1491C;

// basic search
$basic-search-bg: $primary-clr;
$search-bg: #fb7171;
$search-btn-bg: $white;
$search-pd: 0.31rem;
$search-rd: $search-pd;

// stacks search
$stacks-search-bg: rgba($white, 0.85);

// stacks search head
$stacks-src-head-bg: white;
$stacks-src-head-fixed-bg: lighten($primary-clr, 15%);
$stacks-src-head-fixed-title-clr: white;
$stacks-src-head-fixed-border: lighten($primary-clr, 15%);

// stacks search paging
$stacks-src-paging-clr: $white;
$stacks-src-paging-link-bg: $secondary-clr;
$stacks-src-paging-disabled-clr: grey;

// stacks search filter
$src-heading-clr: $white;
$src-heading-bg-clr: $secondary-clr;
$src-link-clr: $primary-clr;
$src-link-border-clr: #e6e6e6;
$src-link-hover-bg: $child-mu-link-hv-clr;
$src-ttl-clr: $primary-clr;
$src-ul-bg: lighten($third-clr, 2%);

// stacks search-results
$src-item-link-clr: $white;
$src-item-link-bg: $secondary-clr;
$src-disabled-clr: #c5c5c5;
$src-keyword-bg: $white;
$src-keyword-link-bg: $primary-clr;
$src-keyword-link-clr: $white;
$src-save-clr: lighten($third-clr, 50%);
$src-placehold-clr: $white;
$src-placehold-bg: $primary-clr;

// stacks search details
$stacks-src-dtls: white;
$stacks-src-btn-shadow: lighten($primary-clr, 20%);
$stacks-src-book-review-bg: white;
$stacks-src-similit-ttl-bg: white;

// Main Configuration
@import "metals/main-config";
