/**********************************************
Quick links Menu
***********************************************/
.hf-quick-links-menu-container {
	display: none;
	margin-top: -11px;
	margin-bottom: 10px;
	padding: 10px 0;
	height: auto;
	overflow: initial;
  background: #f3f3f3;
  border: 1px solid #c8c8c8;

 	&.show {
 		display: block;
 	} 

  ul {
		margin: 0;
		padding: 0;
  }

  li {
		list-style-type: none;
		display: inline-block;
		padding: 4px 20px;
		width: 310px;
		font-size: 0.8rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			color: #333333;

			&:hover {
				opacity: .8;
			}
		}
  }

	/* max-width 640px, mobile-only styles, use when QAing mobile issues */
  @media only screen and (max-width: 40em) {
  	& {
  		margin-right: -15px;
  		margin-left: -15px;
  	}

  	  li {
  			width: 298px;
  		}
  }

}

