/**********************************************
Bento
***********************************************/
.bnt-container {
	@extend .bg-box;
  background: $fifth-clr;	

	.bnt-item {
	}

	.bnt-ttl {
	  position: relative;
	  width: 100%;
	  display: block;
	}

	.bnt-result-item {
		padding: 13px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #eee;
		}

		> p:last-child {
			margin-bottom: 0;
		}
	}

    h5 {
      margin-bottom: 0.5rem;
    }


    @media only screen and (min-width: 64.0625em) {
      .large-2 {
        width: 11.666667%;
      }

      .large-8 {
        padding-left: 0;
        width: 71.666667%;
      }

      .columns + .columns:last-child {
        float: left;
      }

    }

    @media only screen and (max-width: 1520px) {
      .large-8 {
        width: 64.666667%;
      }
    }

    @media only screen and (max-width: 1060px) {
      .small-3.medium-3.large-2.columns.text-center {
        clear: both;
        width: 100%;
      }
    }

    .cover {

      img {
        //float: left;
        //margin-right: 10px;
        max-height: 80px;
      }
    }

    .columns + .columns:last-child {
      float: left;
    }

    .button {
      //float: right;
      //margin-top: -10px;
    }

    .btn-read-online, .bentoRead, .bentoHold {
      margin-bottom: .75em;
      padding: .5rem .75rem .5rem;
      width: 98px;
    }


  .authors, .summary {
		font-size: 0.85rem;
  	color: grey;
	}

	.bnt-see-more {
		margin-top: 13px;
	  border-top: 1px solid #eee;
	  display: block;
	  font-size: 0.9rem;
	  padding-top: 10px;

  	&:after {
  		display: inline-block;
  		content: "\f101";
  		font-size: 1rem;
  		margin-left: 5px;
  		font-family: FontAwesome;
  	}
	}

	.bnt-no-result p{
		color: #3e5e6b;
		@include alert($bg: #a0d3e8, $radius: true);
      background-color: white;
      border-color: grey;
      color: #4f4f4f;
		margin-bottom: 0;
	}

	.ajax-loader {
	  width: 100%;
	  text-align: center;
	  font-size: 12px;

	  img {
	  	width: 20px;
	  }
	}

	@media #{$medium-up} {
		.bnt-ttl h2 {
	    background: $secondary-clr;
	    border-radius: $bx-corner;
	    box-shadow: $bx-shadow;
	    display: inline-block;
	    color: white;
	    font-size: 1.4rem;
	    line-height: 1.4;
  		position: relative;
	  }
	}

	@media #{$large-up}{
		.bnt-ttl h2 {
			padding: .5em 1.4em;
	  	left: -30px;
		}
	}

	@media #{$medium-only}{
		.bnt-ttl h2 {
		  padding: .5em 0.8em;
  		left: -19px;
  	}
	}

	@media #{$small-only} {
		.bnt-ttl h2 {
			color: #5d5d5d;
			font-size: 1.4rem;
			border-bottom: 1px solid #dedede;
			margin-bottom: -9px;
			padding-bottom: 8px;
		}
	}
}










