/**********************************************
Big Slider
***********************************************/
.big-slider {
  margin: 20px 0;
  @include grid-column(12);

  .blk-title {
    display: none;
  }

  .inner-content {
    box-shadow: $bx-shadow;
    background: $fifth-clr;
    padding: $bx-padding ;
    overflow: hidden;
    border-radius: $bx-corner;

    .ie9 & {
      background: rgba($white, 0.75);
    }
  }

  .img-link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .view-content {
    max-height: 439px;
  }

  // In before content
  .panel-display & {
    padding-left: 0 !important;
    padding-right: 0 !important;
    float: none;
  }

  .views-row {
    position: relative;
    border-radius: $bx-corner;
 }

  .views-field {
    &-field-body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.38);
      color: $white;
      padding: 1.26rem;
      border-bottom-left-radius: $bx-corner;
      border-bottom-right-radius: $bx-corner;

      p {
        color: $white;
        margin-bottom: 0;
        font-weight: 600;
      }
    }
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;

    &::after,
    &::before {
      color: $primary-clr;
      font-size: 1.88rem;
    }
  }

  .slick-prev {
    left: 0.44rem;
  }

  .slick-next {
    right: 7px;
  }

  @media #{$small-only} {
    .views-field-field-body {
      position: relative;
      padding: 0.65rem 1.25rem;

      p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .slick-arrow {
      background: rgb(242, 242, 242);
      border-radius: 100px;
      padding: 2px 0 0;

      &::after,
      &::before {
        opacity: 1;
      }
    }

    .slick-prev {
      left: -15px !important;
    }

    .slick-next {
      right: -15px !important;
    }
  }
}