// Coverflow
.coverflow {
  position: relative;
  margin-bottom: 25px;
  z-index: 0;
  max-height: 293px;
  @include grid-column(12);


  .panel-panel & {
    @include grid-column($columns:12, $collapse:true);
  }

  &:not(&#stacks-modal) {
    overflow: hidden;
  }

  .inner-content {
    max-height: 254px;
    background: rgba($white, 0.75);

    .inner-wrap & {
      @include load-animate;

      .page-layout-b &:not(&.page-layout-b) {
        min-height: 250px;
      }
    }
  }

  .views-row {
    display: inline-block;
    position: relative;
    text-align: center;
    outline: none;
    margin-bottom: 150px;

    #stacks-modal & {
      padding: 0 5px;
      margin-bottom: 20px;
    }

    img {
      max-height: 200px;
      margin: 0 auto;
    }
  }


  // Fields
  .views-field {
    &-field-title {
      margin: 0 auto;
      width: 100%;
      padding-left:5px;
      padding-right:5px;
      color: $fourth-clr;

      a {
        font-weight: normal;
        font-size: .85rem;
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-field-author {
      display: none;
    }

    &-field-isbn {
      min-height: 182px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transition: all .1s ease-in;
        display: inline-block;
        border-radius: $bx-corner;
        margin: 0 auto;
      }
    }

    // Ribbon
    &-nothing {
      display: none;
      transition: all .1s ease-in;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 42%;
      z-index: 1;
      left: 0;
      text-align: center;

      .field-content {
        text-align: center;
        display: block;

        a {
          color: $cf-field-link-clr;
          font-family: $header-font-family;
          background: $cf-field-bg;
          border-radius: $bx-corner;
          box-shadow: $bx-shadow;
          padding: 9px 1.213rem;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: bold;
          line-height: 20px;
          outline: none;
        }
      }
    }
  }

  .views-row:hover {
    opacity: .8;
    .views-field-nothing {
      transform: translate(0, -10px);
    }

    .views-field-field-isbn {
      img {
        box-shadow: $bx-shadow;
      }
    }
  }

  // Slider
  .slick-slider {
    margin-bottom: 0;
  }

  .slick-list {
    max-height: 230px;
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    position: static;

    li {
      width: auto;
      height: auto;
      margin: auto;
    }

    li button {
      margin-bottom: 0;

      &:before {
        font-size: 12px;
      }
    }
  }

  // Slider button
  @include slider-next-prev(32px, 10px, 10px, white);

  .slick-prev, .slick-next {
    top: 43%;
    opacity:1;
    transition: all .1s ease-in;
    background-color: $primary-clr;
    border-radius: 50px;

    &:hover {
      opacity: 1;
    }
  }

  @media #{$large-up} {
    & {
      margin-top: 15px;
    }

    .inner-content{
      min-height: 254px;
      padding-top:27px;
    }

    .views-row {
      padding-left:5px;
      padding-right:5px;
    }
  }

  @media #{$medium-only} {
    & {
      margin-top: 15px;
    }
  }

  @media #{$small-only}, #{$medium-only} {
    .inner-content{
      padding-top:17px;
    }

    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
    }

    .blk-title {
      left: 7.5px;
      right: 7.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Coverflow inside modal
#stacks-modal {
  .coverflow {
    margin-bottom: 0;

    // Slider button
    @include slider-next-prev(24px, 10px, 10px, white);

    .slick-prev, .slick-next {
      top: 32.6%;
      opacity:1;
      transition: all .1s ease-in;
      background-color: $primary-clr;
      border-radius: 50px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .content {
    height: 250px;
    animation: load-slider 2s normal;
    margin-bottom: 50px;

    @keyframes load-slider {
      0% {
        opacity: 0;
      }

      60% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  > h2 {
    margin-bottom: 24px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 30%;
      margin: 16px auto 0;
      border-bottom: 1px solid #dedede;
    }
  }
}
