///**********************************************
//Font Resizer
//***********************************************/

.font-resizer {

  .toggle-resizer {
    color: white;
  }

  &.show-resizer .toggle-resizer{
    color: white;
  }

  .fUp, .fDown {
    border-radius: $bx-corner;
    padding: 2px !important;
    border: 1px solid white;
    color: white;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }

}

@media only screen and (max-width: 64em) {
  .font-resizer.font-resizer-block .toggle-resizer {
    top: 21px;
    right: 52px;
    color: $secondary-clr;

  }

  .rf-wrapper.show-resizer .fUp, .fDown {
    background: $secondary-clr !important;
  }
}
