/*****************************************
IE
*****************************************/
.ie {
  // Advance Search
  &.page-search-node form.search-form fieldset.search-advanced:not(.collapsed) {
  	.criterion {
			margin-right: 0 !important;
  	}

    .criterion  .form-type-checkboxes {
    	margin-bottom: 10px;

	    input, label {
	      display: inline-block;
	      margin-right: 3px;
	    }
	  }

	  .form-submit {
	    padding-left: 10px !important;
	    padding-right: 10px !important;
	  }
  }

  // Search previous and and next
  .search-head .filter-items {
    li.prev {
      left: -3rem;
    }

    li.next {
      right: -3rem;
    }
  }
}

/*****************************************
IE 10 below
*****************************************/
.ie9, .ie10 {
  // Main Nav
  #header .main-nav {
    padding-top: 32px;
  }

  // Mini Slider
  .mini-slider {
    .img-wrapper {
      float:left;
    }
    .ttl {
      position: relative;
      top: 10px;
    }
  }

  // gTranslate
  #top-header .gTranslate {
    select {
      background: transparent;
      color: #fff;
    }
    option {
      color: #444444 !important;
    }
  }

  // Site Brand
  .site-brand {
    padding-top: 18px;
  }
}

/*****************************************
IE 11
*****************************************/
.ie11 .block-hf-stacks-search .content input#searchBox {
  line-height: 1em;
}

/*****************************************
IE 10
*****************************************/
.ie10 {
  // fix max-width initial
  .row.full-width {
    max-width: none;
  }

  // eds search
  #searchBox {
    padding-top: 0;
  }

  // people, places, events search
  #edit-search-block-form--4 {
    padding-top: 3px;
  }
}

/*****************************************
IE 9
*****************************************/
.ie9 {
  #top-header .section {
    background: rgba(0, 0, 0, 0.45);
  }

  &.not-front.page-eds #content-wrapper .section-wrapper, &.logged-in .cta-callout, &.logged-in .panels-ipe-portlet-content {
    background: none !important;
  }

  &.not-front #content-wrapper .section-wrapper,
  .cta-callout .field-content,
  .sg-block > .content,
  .sg-block .pane-content,
  .view-branch-location .views-row,
  #header .section {
    background: rgba($white, 0.85);
  }

  // Resource Slider
  .resource-list-slider {
    .img,
    .views-field-title {
      float: left;
    }

    .views-field-title {
      padding-top: 10px;
    }
  }

  // fix max-width initial
  .row.full-width {
    max-width: none;
  }

  // google translate select
  .gTranslate select {
    padding-right: 0;
  }

  // placeholder fix - along with js
  // https://github.com/mathiasbynens/jquery-placeholder
  .placeholder {
    color: #aaa;
  }

  // eds search
  #searchBox {
    padding-top: 0 !important;
    line-height: initial !important;
  }

  // people, places, events search
  #edit-search-block-form--4 {
    padding-top: 2px;
  }

  // eds search btn
  input[disabled]#searchSubmit {
    text-shadow: none;
  }

  // Gradient fallback
  .side-filter-ext .views-exposed-widget,
  h3.eresource-title a {
    background: $main-gradient-fallback;
  }
}