/**********************************************
Mini Slider
***********************************************/
.mini-slider {
  box-shadow: $bx-shadow;
  background: $fifth-clr;
  padding-top: .5em;
  padding-bottom: .5em;
  overflow:hidden;
  display: block;
  clear: both;
  border-radius: $bx-corner;
  height: 93px;
  @include grid-column($columns:12, $collapse:false);

  .blk-title {
    display: none;
  }

  .ie9 &{
    background: $main-gradient-fallback;
  }

  .slick-slider {
    border-radius: $bx-corner;
    background: $resource-slider-inner-bg;
    padding: .25em 0.9em .25em 1em;
    border: $bx-border;
    box-shadow: $bx-shadow;
  }

  .views-row {
    border-radius: $bx-corner;
    background: $main-gradient-fallback;
    background: $main-gradient;
    border: $bx-border;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 1px;
    padding: .45rem;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    transition: opacity .3s ease-in-out;
    float:left;

    &:hover {
      opacity: .8;
    }
  }

  .ttl {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &, p {
      padding: 0 10px;
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom:0;
    }
  }

  .img-link {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:block;
  }

  .img-wrapper {
    border-radius: $bx-corner;
    width: 3.13rem;
    height: 3.13rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    img {
      display:none;
    }
  }

  // Slider
  .slick-slider {
    margin: 0 .9em;
  }

  .slick-list {
    margin: 0 1.56rem;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;

    &::after,
    &::before {
      color: $primary-clr;
      font-size: 1.88rem;
    }
  }

  .slick-prev {
    left: 0.44rem;
  }

  .slick-next {
    right: 7px !important;
  }

  @media #{$medium-up}{
    &{
      margin:10px 0!important;
    }
  }
}


/**********************************************
Mini Slider in Database Page
***********************************************/
.page-databases .mini-slider {
  & {
    padding: 0;
    margin-top: 0 !important;
    background: transparent;
    box-shadow: none;
    border: none;
  }

  .slick-slider{
    margin-left: 0;
    margin-right: 0;
  }
  .db-logo {}
  .db-cat-name {}
}
