/**********************************************
Node
***********************************************/
.not-front.page-node {

  .main-content .node:not(.node-guide) {
    box-shadow: $bx-shadow;
    background: $main-gradient-fallback;
    background: $header-bg;
    border-radius: $bx-corner;
    border: $bx-border;
    padding: $bx-padding;
    margin-bottom: 1em;
  }
}

// Global Field Settings
.page-node:not(.node-type-guide) {

  .submitted {
    display: none ;
  }

  .content {

    .field {
      font-size: .80rem;
      margin-bottom: 8px;
      clear: both;
      @extend .clearfix;
    }

    .field .field-label {
      float: left;
      font-weight: 600;
      color: grey;  
    }

    .view-signup-user-admin-list table {
      width: 100%;
    }
  }
}

// Node Fields
.field-name-field {
  &-body {
    margin: .63rem 0 0;
  }

  &-first-name-listing{
    float: left;
    margin-right: .31rem;
  }

  &-first-name-instructor,
  &-last-name-instructor {
    float: left !important; 
    margin-right: .31rem;
    clear: none !important;
  }

  &-news-date,
  &-news-author {
    float: left;
    clear: none !important;
  }

  &-news-date,
  &-news-author {
    margin-bottom: 1em !important;
  }

  &-news-date {
    margin-right: .63rem;
  }

  &-file-attachments table{
    width: 100%;
  }
}


/**********************************************
Group Fields
***********************************************/
// Hours
.hours-operation {
  margin-bottom: 1em;

  .field-label {
    width: 6.25rem;
    font-weight: normal;
  }
}

// Instructor Name
.group-instructor-name {
  clear: both;
  display: block;
  overflow: hidden;

  h3 {
    font-size: .85rem;
    font-weight: 600;
    float: left;
    margin-right: .31rem;
  }

  .field-item {
    position: relative;
    top: 2px;
    margin-right: .31rem;
  }

  .field-name-field-first-name-instructor {
    float: left;
  }
}

// attachement change size color
.field-type-file table tr td:last-child{
  color: $node-field-clr;
}

/**********************************************
Social Media
***********************************************/
.page-node {
  .field-name {
    &-field-facebook-link,
    &-field-linkedin-link,
    &-field-twitter-link {

      a:before {
        font-size: 16px;
        font-family: fontAwesome;
        display: inline-block;
        margin-right: 10px;
        color: $primary-clr;
        position: relative;
      }
    }

    &-field-linkedin-link a:before {
      content: "\f0e1";
    }

    &-field-twitter-link a:before {
      content: "\f230";
    }

    &-field-facebook-link a:before {
      content: "\f099";
    }
  }
}


