/**********************************************
Resource List Slider
***********************************************/
.resource-list-slider {
  @include grid-column(12);
  border-top: $bx-border;
  box-shadow: $bx-shadow;
  background: $resource-slider-bg;
  padding-top: .5em;
  padding-bottom: .5em;
  height:90px;

  .content {
    border-radius: $bx-corner;
    background: $resource-slider-inner-bg;
    padding: .25em;
    border: $bx-border;
    box-shadow: $bx-shadow;
  }

  .views-row {
    border-radius: $bx-corner;
    background: $main-gradient-fallback;
    background: $main-gradient;
    border: $bx-border;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 0;
    padding: .45rem;
    height: 4em;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
  }

  .entity-field-collection-item,
  .views-label-title {
    display: none;
  }

  .field-content {
    font-size: 0.9em;
    font-weight: bold;
  }

  .img {
    border-radius: $bx-corner;
    width: 3.13rem;
    height: 3.13rem;
    display: block;
    margin-right: .63rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .open-modal {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  // Slider
  .slick-slider {
    margin: 0 .9em;
  }

  .slick-list {
    margin: 0 1rem 0 0.94rem;
    height: 64px;
  }

  .slick-prev,
  .slick-next {
    z-index: 1;

    &::after,
    &::before {
      color: $primary-clr;
      font-size: 1.88rem;
    }
  }

  .slick-prev {
    left: -0.86rem;
  }

  .slick-next {
    right: -13.4px !important;
  }
}