/**********************************************
Sharethis
***********************************************/
.stButton .stMainServices {
  height: 1.38rem !important;
}

// taxonomy page 'read more' override
.page-taxonomy-term {

  #content-wrapper .section-wrapper .main-content .content ul.links {
    margin-left: 0;

    li.node-readmore {
      padding-left: 0;
    }
  }
}