/**********************************************
Basic Search
***********************************************/
.top-menu {

  & > h2 {
    display: none;
  }

  float: right;

  .content {
    ul {
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 0;
      margin: 0;

      a {
        padding: 0 .5rem;
        padding-left: 0;
        font-size: .8rem;
        color: $top-link-clr;
        height: 1.69rem;
        line-height: 1.69rem;
        letter-spacing: .0625em;
        float: left;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  @media #{$medium-only}, #{$small-only} {

    &.hideThis {
      display: none;
    }
  }
}