/**********************************************
Body
***********************************************/
a {
  color: $third-clr;

  &:hover,
  &:active,
  &:focus {
    color: darken($third-clr, $darken-amount);
  }
}

body {
  background-color: #2d3840;
}


/**********************************************
Table
***********************************************/
table {
  background: $base-tbl-bg;

  thead tr th {
    border-bottom-width: 1px;
    font-weight: 600;
    color: $base-tbl-hr-clr;
  }

  tr.odd {
    background-color: $base-tbl-tr-odd-bg;
  }

  tr td {
    font-size: .8rem;
  }
}

/**********************************************
Full Width
***********************************************/
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/**********************************************
Top Header
***********************************************/
#top-header {
  height:0;
  position:relative;
  z-index: 2;

  @media #{$small-only}, #{$medium-only} {
    display: none;
  }
}

/**********************************************
Modal
***********************************************/
#stacks-modal h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary-clr;
}

/**********************************************
Main Wrapper not front page
***********************************************/
#content-wrapper {
  position: relative;
  z-index: 1;
  background: white;

  @extend .full-width;
  .ripped-top {
    background-image: url(../img/paper-header-flipped.png);
    background-repeat: repeat-x;
    background-position: top -1px left;
    width: 100%;
    height: 142px;
    position: absolute;
    left: 0;
    content: "";
    clear: both;
    top: -73px;
    right: 0;
    border-bottom: 1px solid #dedede;
    z-index: 0;
  }

  .ripped-bottom {
    .front &{
      content: "normal";
      clear: both;
      background-image: url(../img/paper-footer.png);
      background-repeat: repeat-x;
      background-position: bottom left -30%;
      width: 100%;
      height: 77px;
      position: absolute;
      left: 0;
      bottom: 0px;
      right: 0;
      z-index: 2;
      background-size: 23%;
    }
  }

  @media #{$medium-up}{
    background-color: #E6E6E6;
  }

  @media #{$medium-only}{
    .ripped-top {
      height: 98px;
      top: -41px;
      background-size: 640px;
    }

    .not-front {
      padding: 21px;
    }
  }

   @media #{$small-only}{
    &:before {
      display: none;
    }
    .ripped-top, .ripped-bottom {
      display: none;
    }
   }
}


/**********************************************
Page title
***********************************************/
.page-title {
  word-break: break-word;
  @media #{$medium-up}{
    @include border-title($color:'teal', $position:'right-arrow', $height:40px, $topBgSize: 345px, $arrowOffset: -33px);
    display: inline-block;
  	clear: both;
  	margin-bottom: 0;
    color: white;
  }

  @media #{$small-only}{
    line-height: 27.699999px;
    margin: 20px 0;
  }
}

/**********************************************
Tabs
***********************************************/
.page-user {
  ul.primary li.active a {
    border-bottom: none;
    background-color: transparent;
  }
}
.tabs .tabs {
  border: 1px solid #cecece;
  margin-bottom: 1px !important;
  overflow: hidden;
  background: gainsboro;
  padding: 0;
  margin: 0;

  li {
    float: left;
    // margin-bottom: -1px;
    height: initial !important;
    background-color:#dadada;

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  li.active a{
    border: none!important;
    background-color: #f5f5f5;
  }

  a {
    margin-right: 0;
    font-size: 0.85em;
    padding: .31rem .63rem 7px;
    float: left;
    background-color: $base-tabs-link-bg;
    border: none !important;
  }


  &.secondary {
    margin-top: -14px;
    li {
      padding:0;

      &:first-child{
        border-left:1px solid #cacaca;
      }
    }
    a.active {
      border-bottom:1px solid;
      background: white;
    }
  }
  @media #{$small-only}, #{$medium-only}{
    li {
      height: 27px;
    }
  }
}

#tabs-and-link > .large-12.columns {
  @media #{$large-up}{
    .page-calendar-week &, .page-calendar-month &,.page-calendar-day &, .page-calendar-year & {
      margin-left: auto !important;
    }
  }
}

/**********************************************
Sharethis-buttons
***********************************************/
.sharethis-buttons {
  .sharethis-wrapper {
    opacity: .8;
    transition: opacity .1s ease-in, transform .1s ease-in;

    &:hover {
      transform: translate(0, -2px);
      opacity: 1;
    }

    .stLarge {
      $wh: 16px;
      background-size:$wh $wh;
      width:$wh;
      height:$wh;
    }

    .st_email_large .stLarge{
      background-image: url(http://w.sharethis.com/images/email_16.png) !important;
    }

    .st_sharethis_large .stLarge{
      background-image: url(http://w.sharethis.com/images/sharethis_16.png) !important;
    }
  }
}

/**********************************************
Panels
***********************************************/
.panel-separator, .panels-ipe-button-container .panels-ipe-change-layout {
  display: none;
}

.panels-ipe-portlet-content {
  @extend .clearfix;
}

.section-wrapper .panel-panel {
  @media #{$small-only}, #{$medium-only}{
    width:100%;
    float:none;

    .inside {
      margin: 0;
    }
  }
}


/**********************************************
layout II
***********************************************/
.page-layout-b {
  .panel-e-resources {
    margin-bottom: 25px;

    .pane-title {
      @extend %title-a;
    }
    .pane-content {
      border-radius: $bx-corner;
      border: $bx-border;
      padding: $bx-padding;
      background: $bx-background;
      margin-bottom: 1em;
    }
  }

  .sg-block {
    margin-top: 0;
  }

   .coverflow .views-row {
    width: 105px;
  }

  .pane-title {
    margin-top: 0 !important;
    padding-top: .2em;
  }

  .eresource-title {
    border: none !important;
  }
}

/**********************************************
Page Filter
***********************************************/
.page-filter .main-content .content{
  @extend .bg-box;
  background: rgba(255, 255, 255, 0.9);
}

/**********************************************
Bg wrapper
***********************************************/
.bg-wrapper {
  box-shadow: $bx-shadow;
  background: $main-gradient-fallback;
  border-radius: $bx-corner;
  border: $bx-border;
  padding: $bx-padding;
}


/**********************************************
Admin Toolbar / Admin Menu
***********************************************/
#admin-menu {
 .dropdown {
    font-size: 0.7rem;
  }
}

/**********************************************
Sub footer
***********************************************/
#sub-footer {
  background-color: white;
}

/**********************************************
Messages
***********************************************/
.l-messages {
  position: relative;
  z-index: 9;

  .messages {
    min-height: 40px;
  }
}

/**********************************************
Form confirmation
***********************************************/
.webform-confirmation {
  background: white;
  margin-bottom: 17px;

  @media #{$medium-up}{
    padding: 20px 20px 2px;
  }
}

/**********************************************
Alert Boxes
***********************************************/
.page-upcoming-events .alert-box {
  color: #2f7f9e;
}
