/**********************************************
Bento
***********************************************/
.bnt-container {
	.bnt-item {
    background: white;
    @include shadow();
    position: relative;
	}

	.bnt-ttl {
		display: inline-block;
		clear: both;
	}

	.bnt-content {
		&:before {
      @include bg-gradient($position:'bottom', $wh:3);
    }
	}

	.bnt-result-item {
		padding-bottom:13px;
		margin-bottom: 13px;

		&:not(:last-child) {
			border-bottom: 1px solid #eee;
		}

		> p:last-child {
			margin-bottom: 0;
		}
	}

    h5 {
      margin-bottom: 0.5rem;
    }


  @media only screen and (min-width: 64.0625em) {
    .large-2 {
      width: 11.666667%;
    }

    .large-8 {
      padding-left: 0;
      width: 71.666667%;
    }

    .columns + .columns:last-child {
      float: left;
    }

  }

  @media only screen and (max-width: 1520px) {
    .large-8 {
      width: 64.666667%;
    }
  }

  @media only screen and (max-width: 1060px) {
    .small-3.medium-3.large-2.columns.text-center {
      clear: both;
      width: 100%;
    }
  }

    .cover {

      img {
        //float: left;
        //margin-right: 10px;
        max-height: 80px;
      }
    }

    .columns + .columns:last-child {
      float: left;
    }

    .button {
      //float: right;
      //margin-top: -10px;
    }

    .btn-read-online, .bentoRead, .bentoHold {
      margin-bottom: .75em;
      padding: .5rem .75rem .5rem;
      width: 98px;
    }


    .authors, .summary {
          font-size: 0.85rem;
        color: grey;
      }
      .bnt-see-more {
          margin-top: 13px;
        border-top: 1px solid #eee;
        display: block;
        font-size: 0.9rem;
        padding-top: 10px;

      &:after {
          display: inline-block;
          content: "\f101";
          font-size: 1rem;
          margin-left: 5px;
          font-family: FontAwesome;
  	}
	}

	.bnt-no-result p{
		color: #3e5e6b;
		@include alert($bg: #a0d3e8, $radius: true);
      background-color: white;
      border-color: grey;
      color: #4f4f4f;
		margin-bottom: 0;
	}

	.ajax-loader {
	  width: 100%;
	  text-align: center;
	  font-size: 12px;

	  img {
	  	width: 20px;
	  }
	}

	@media #{$medium-up} {
		.bnt-inner {
		  margin-bottom: 45px;
		}
		.bnt-item {
	    padding: 0.813rem;
	  }
		.bnt-ttl {
			display: inline-block;
			clear: both;
		  > h2 {
		  	color: white;
		  	font-size: 1.3125rem;
		  	margin-bottom: 0;
				text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.37);
		    @include border-title($color:'teal', $position:'right-arrow', $height:40px, $topBgSize: 345px, $arrowOffset: -31px);
		  }
		}
	}
	@media #{$small-only} {
		.bnt-inner {
		  margin-bottom: 32px;
		}
		.bnt-item {
	    padding: 0.813rem 0 0.813rem;
	  }
		.bnt-ttl h2 {
		  width: 100%;
		  padding: 0;
		  color: #2d3840;
		  font-weight: 600;
		  position: relative;
		  padding-bottom: 0px;
		  padding-top: 9px;
		  margin-bottom: 0;
		}
	}
}










