// Child Sub Menu
.child-submenu {
  @extend .bg-box;
  background: $bx-background;
  margin-bottom:10px;

  ul {

    // Children
    ul li a {
      padding-left: 1.25em;
    }

    &,
    li {
      list-style-type: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
    }

    li a {
      padding: 0.7rem 0.8rem;
      display: block;
      font-size: 1em;
      color: $child-mu-link-clr;
      border-bottom: 1px solid $child-mu-border-clr;

      &:hover,
      &.active {
        background: $child-mu-link-hv-clr;
      }
    }

    li:last-child a {
      border: none;
    }
  }
}