/*****************************************
Coverflow
*****************************************/
.coverflow {
  position: relative;
  margin-top:0;
  z-index: 0;

  &:before {
    @include grid-column($columns:12, $collapse:false);
  }

  &:not(&#stacks-modal) {
    overflow: hidden;
  }

  .inner-content:after {
    @include bg-gradient($position:'bottom', $wh:3);
    margin-bottom:-1px;
  }

  @media #{$large-up} {
    margin-bottom: 25px;
    .views-row {
      padding-left:5px;
      padding-right:5px;
    }
  }

  @media #{$medium-up}{
    & {
      margin-bottom: 3rem;
      background: $white;

      .main-wrapper & {
        @include shadow();
      }
    }


  }

  @media #{$small-only} {
    .panel-panel & {
      @include grid-column($columns:12, $collapse: true);
      margin-bottom: 10px;
    }

    .inner-content {
      margin-bottom:10px;
      border: none;
    }
  }
}

/*****************************************
Inner Content
*****************************************/
.coverflow  .inner-content {

  > h2.blk-title {
    @extend %title-a;
  }

  .inner-wrap & {
    .page-layout-b &:not(&.page-layout-b) {
      min-height: 250px;
    }
  }

  @media #{$medium-up}{
    min-height: 261px;
    padding: 2.25rem 2.25rem 0.5em;
  }
}

/*****************************************
Views and row
*****************************************/
.coverflow .views-row {
  display: inline-block;
  position: relative;
  text-align: center;
  outline: none;
  background-size: contain;
  background-position: no-repeat;
  background-repeat: center center;

  #stacks-modal & {
    padding: 0 5px;
    margin-bottom: 20px;
  }

  .views-row:hover {
    opacity: .5;
    .views-field-nothing {
      transform: translate(0, -10px);
    }

    .views-field-field-isbn {
      img {
        box-shadow: $bx-shadow;
      }
    }
  }
}

/*****************************************
Fields
*****************************************/
.coverflow .views-field {
  &-field-title {
    margin: 0 auto;
    width: 100%;
    padding-left:5px;
    padding-right:5px;
    color: $fourth-clr;

    a {
      font-weight: normal;
      font-size: .85rem;
      display:block;
      height: 44px;
    }
  }

  &-field-author {
    display: none;
  }

  &-field-isbn {
    img {
      transition: all .1s ease-in;
      display: inline-block;
      height:150px;
    }
  }

    // Ribbon
  &-nothing {
    display: none;
    transition: all .1s ease-in;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 42%;
    z-index: 1;
    left: 0;
    text-align: center;

    .field-content {
      text-align: center;
      display: block;

      a {
        color: $cf-field-link-clr;
        font-family: $header-font-family;
        background: $cf-field-bg;
        border-radius: $bx-corner;
        box-shadow: $bx-shadow;
        padding: 9px 1.213rem;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        line-height: 20px;
        outline: none;
      }
    }
  }
}

/*****************************************
Slider
*****************************************/
.coverflow  {
  // Slider
  .slick-slider {
    margin-bottom: 0;
  }

  .slick-track > div{
    $brdr: 1px solid black;
    position: relative;

    &:after {
      content: "";
      border-right: 1px solid #e5e5e5;
      width: 1px;
      height: 59px;
      position: absolute;
      right: 0;
      top: 29%;

      @media #{$small-only}{
        display: none;
      }
    }
  }

  .slick-dots {
    margin: 0;
    padding: 0;
    position: static;

    li {
      width: auto;
      height: auto;
      margin: auto;
    }

    li button {
      margin-bottom: 0;

      &:before {
        font-size: 12px;
      }
    }
  }

  // Slider button
  .panel-col-top &, .panel-col-bottom & {
    @include slider-next-prev(60px, 0, 0, white, "teal");
  }

  .panel-col-first & {
    @include slider-next-prev(60px, 0, 0, white, "yellow");
  }

  .panel-col-last & {
    @include slider-next-prev(60px, 0, 0, white, "red");
  }
}
