/**********************************************
Database Page
***********************************************/
.page-databases {

  .main-content {
    @include grid-row($behavior: collapse);
  }

  .sidebar {
    padding-left: 0;
  }

  .main > .view-eresources {
    margin-bottom: 30px;
    @media #{$medium-up}{
      background: white;
      padding: $bx-padding;
    }
  }

  // Filters
  #hf-databases-form-search, #hf-databases-form-filter {
    @extend .bg-box;
    padding: $bx-padding;
    background: white;
    margin-bottom: 20px;

    .form-item {
      margin:0;
    }

    .form-text {
      margin-bottom: 10px;
    }

    .form-submit {
      @extend %form-submit-button;
      background-color: $fourth-clr;
    }
  }
  // Filters
  .featured-database {
    @extend .bg-box;
    padding: 0.913rem $bx-padding 0.713rem;
    margin-bottom: 20px;
    background: $bx-background;

    > h3 {
      color: #4d4d4d;
      cursor: pointer;
      display: block;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 0;

    }

    ul {
      padding-top: 0.7rem !important;
      margin:0 0 0 21px !important;
    }

    li a {
      font-size: .85rem;
    }
  }

  @media #{$small-only}, #{$medium-only}{
    .sidebar, .main {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
