.pane-hf-events, .pane-stacks-rss {
  margin-bottom: 65px;

  &:after {
    @include bg-gradient($position: 'bottom', $wh: 3);
  }

  .pane-content {
      @include shadow();
  }

  .panel {
    background: white;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    border: solid 1px rgba(0, 0, 0, 0.09);
    padding-bottom: .6rem;

    p {
      margin-bottom: .75rem;
    }
  }

  .events-block-date {
    font-size: .8rem;
    line-height: 1.8;
  }

}