/*****************************************
Flipsters
*****************************************/
.coverflow.flipster {
  .views-row {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .views-field {
    margin-bottom: 10px;
    img {
      height:150px;
      text-align: center;
      margin: 0 auto;
    }
  }
  .field-content {
    padding: 0 10px;
  }
}
