/**********************************************
Font Resizer
***********************************************/
.font-resizer {
  //position: absolute;
  z-index: 1;

  .mobile-menu & {
    display: none;
  }

  .fUp, .fDown {
    cursor: pointer;
    float: right;
    border: 1px solid $secondary-clr;
    border-radius: 0;
    font-size: 14px;
    color: $secondary-clr;
    min-width: 43px;
    text-align: center;
    height: 28px;
    line-height: 28px;

    &.max-font, &.min-font {
      cursor: default;
      opacity: .3;

      &:hover { opacity: .3; }
    }

    &:hover {
      opacity: .8;
    }
  }

  .fa-minus, .fa-plus {
    font-size: 8px;
    margin: 0 5px;
    position: relative;
    top: -2px;
  }

  .fDown {
    margin-right: -1px;
  }
}

/**********************************************
Responsive Top Header
***********************************************/
.top-menu .font-resizer {
  @media #{$large-up} {
    & {
      left: -97.8px;
      top: -0.125em;
    }

    .toggle-resizer {
      display: none;
    }
  }

  @media #{$small-only}, #{$medium-only} {
     display: none;
  }
}

/**********************************************
Responsive Mobile
***********************************************/
.header-row .font-resizer {
  @media #{$large-up} {
    display: none;
  }

  @media #{$small-only}, #{$medium-only} {
    font-size: 1.1rem;

    .toggle-resizer {
      color: $primary-color;
      cursor: pointer;
      float: right;
      clear: both;
    }

    &.show-resizer .toggle-resizer {
      color: grey;
    }

    .rf-wrapper {
      display: none;
      clear: both;
    }

    &.show-resizer .rf-wrapper {
      display: block!important;
    }

    .fUp, .fDown {
      padding: 0px;
      background: white;
      font-size: 0.8rem;
    }
  }

  @media #{$medium-only}{
    right: 3.625em;
    top: 2.2rem;
  }
  @media #{$small-only}{
    right: 2.825em;
    top: 0.98rem;
  }
}

@media only screen and (min-width: 64em) {

  #header .font-resizer {
    display: none !important;
  }

}