/**********************************************
Footer
***********************************************/
#footer, #sub-footer {
  max-width: 100% !important;
}
#footer {
  .section {
    @include grid-column(12);
    clear: both;
    border-top: 1px solid $ft-border-clr;
    background-color: $ft-bg-clr;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 0;
    text-align: center;
    z-index: 0;
    position: relative;
    height: 220px;

    h1, h2, h3, h4, h5, h6 { color: $ft-color; }
    p {
      font-size: .8em;
      margin-bottom: 0;
      color: $ft-color;

      &:last-of-type {
        margin-top: .5rem;
      }
    }
  }

  .social-footer {
    margin-bottom: 1rem;

    img {
      margin: 0 .31rem;
    }

    a {
      display: inline-block;
      font-size: 1.1rem;
      margin: 0 4px;
    }

    .fa-facebook-square:before { content: "\f09a" !important; }
    .fa-twitter-square:before { content: "\f099" !important; }
    .fa-youtube-square:before { content: "\f16a" !important; }
    .fa-google-plus-square:before { content: "\f0d5" !important; }
    .fa-instagram:before { content: "\f16d" !important; }
    .fa-linkedin-square:before { content: "\f0e1" !important; }
    .fa-pinterest-square:before { content: "\f231" !important; }
    .fa-tumblr-square:before { content: "\f173" !important; }
  }

  @media #{$medium-up}{
    position: relative;
    .front &{
      background-image: url(../img/paper-footer-flipped.png);
      padding-top: 22px;
    }


    &:before {
      background-repeat: repeat-x;
      background-position: bottom left;
      background-size: 320px;
      width: 100%;
      height: 25px;
      position: absolute;
      left: 0;
      content: "";
      clear: both;
      right: 0;
      z-index: 2;
      .front &{
        background-image: url(../img/paper-footer-flipped.png);
      }

      .not-front & {
        background-image: url(../img/paper-header-black.png);
      }
    }

    .social-footer {
      position: absolute;
      top: 100px;
      left: 20px;

      a {
        color: $sixth-clr;
      }
    }
  }

  @media #{$small-only}{
    a, p, span {
      color: white !important;
    }
  }
}

// Fix for panels
body.front.logged-in #footer {
  padding-bottom: 4em;

  #footer .section {
    height: 240px;
  }
}

/**********************************************
Contact Information and copyright content
***********************************************/
.ft-contact {
  .fa {
    font-size: 1.5rem;
    margin-top: 11px;
    margin: 10px 2px 3px;
    color: rgba(255, 255, 255, 0.94);
  }

  .contact-info {
    a, p {
      color: $sixth-clr !important;
      font-weight: 500;
    }

    a {
      display: inline-block;
    }
  }

  .poweredby {
    color: #DFDFDF;
  }

  .contact-icons {
    a {
      font-size: 1.1rem
    }
  }

  @media #{$medium-up}{
    .allrights, .contact-info a, .contact-icons a, .poweredby a {
      color: $secondary-clr;
    }

    .contact-info a, .contact-info p{
      color: $sixth-clr !important;
    }

    .contact-info {
      position: absolute;
      left: 24px;
      top: 60px;
    }

    .allrights {
      position: absolute;
      right: 20px;
      top: 63px;
    }

    .poweredby {
      position: absolute;
      right: 20px;
      top: 112px;
    }

    .contact-icons {
      position: absolute;
      right: 20px;
      top: 78px;
    }
  }
}

/**********************************************
Contact Information and copyright content
***********************************************/
.ft-brand-logo {
  position: absolute;
  top: 90px;
  clear: both;
  right: 0;
  left: 0;

  @media #{$small-only}{
    display: none;
  }
}
