/**********************************************
Header
***********************************************/
#header {
  position:relative;
  overflow: hidden;
  background-image: url(../img/leaf.png), url(../img/bg-leaf.jpg);
  background-repeat: no-repeat , repeat-x;
  background-size: initial;
  background-position: right 8.5rem, left top;

  &::before {
    @include bg-gradient();
  }

  .header-row {
    z-index: 2;
  }

  .header-row > .large-12 {
    position:static;
  }

  .ripped {
    background-image: url(../img/paper-header.png);
    background-repeat: repeat-x;
    background-position: top left;
  }

  .section {
    position:relative;
  }

  @media #{$large-up} {
    margin-bottom:-70px;
    .ripped {
      background-size: 1000px;

      .front & {
        height: 600px;
      }

      .not-front & {
        height: 430px;
      }
    }
  }

  @media #{$medium-only} {
    background-position: right -11rem top 4.5rem, left top;
    .ripped {
      height: 225px;
      background-size: 730px, 158px;
    }
  }
  @media #{$small-only} {
    .ripped {
      height: 171px;
    }

    .header-row {
      padding: 8px 0 6px;
    }
  }
}


/**********************************************
Main Background
***********************************************/
.desktop .main-background { background-size: cover !important; }
.mobile .main-background { background-attachment: scroll !important; }
.page-media-browser  .main-background{ display:none!important; }
