/**********************************************
Node Directory Listing
***********************************************/
body.node-type-directory-listing {
  
  // field label to font-awesome
  .field-name-field {
    &-phone-number-listing, &-job-title-listing, &-email {
      .field-label {
        display:none; 
      }
      .field-items > div:before {
        font-family: fontAwesome;
        display: inline-block;
        margin-right: 10px;
        color: lighten(#00b1c0, 3%);
      }
    }

    &-phone-number-listing .field-items {
      &, .field-item {
        width: 100%;
      }

      .field-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
      }

       > div:before {
        content: "\f098";
        font-size: 16px;
      }
    }
    &-job-title-listing .field-items {
       > div:before {
        content: "\f05a";
        font-size: 16px;
      }
    }
    &-email .field-items {
      margin-bottom: 14px;
      border-bottom: 1px solid #e8e8e8;
      padding-bottom: 20px;

      &, .field-item {
        width: 100%;
      }

      .field-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
      }
     
       > div:before {
        content: "\f003";
        font-size: 14px;
      }
    }
  }

  // Hours of operation
  .hours-operation  {
      margin-bottom: 1em;
      display: inline-block;
      padding: 10px;
      border: 1px solid lightgray;

    h4 {
      font-size: 1rem;
      border-bottom: 1px solid lightgrey;
      padding-bottom: 10px;
      padding-left: 7px;

      &:before {
        content: "\f017";
        font-family: fontAwesome;
        display: inline-block;
        margin-right: 10px;
        color: $secondary-clr;
      }
    }

    .field-label {
      text-align: right;
      width: 89px;
      margin-right: 10px;
      padding-left: 6px;
      padding-right: 6px;
      font-weight: normal !important;
      float: left;
    }

    .field-items {
      padding-left: 101px;
      word-break: break-all;
    }

    @media #{$medium-up}{
      min-width: 280px;
    }
    @media #{$small-only}{
      width: 100%;
    }
  }
}

/**********************************************
Node News
***********************************************/
body.node-type-news {
  .sidebar .field-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
    word-break: break-all;
  }

  .field-label-inline .field-items {
    float: none !important;
  }

  .field-name-field {
    &-news-date, &-news-author {
      margin-bottom: 8px !important;
      width: 100%;
      display: block; 
      word-break: break-all;  

      .field-label {
        display: none!important;
      }
    }

    &-news-date > .field-items .field-item:before,
    &-news-author > .field-items .field-item:before {
      font-family: fontAwesome;
      font-size: 16px;
      width: 20px;
      display: inline-block;
      color: $secondary-clr;
    }

    &-news-date > .field-items .field-item:before {
      content: "\f133"; 
    }

    &-news-author > .field-items .field-item:before {
      content: "\f007";
      .field-label {
        display: none;
      }
    }

    &-news-attachments table {
      width: 100% !important;
    }
  }
}

/**********************************************
Node Events
***********************************************/
body.node-type-event {
  .field {
    clear: both;
    display: block;
  }

  .field-name-field-workflow {
    display: none !important;
  }
}

/**********************************************
signup form
***********************************************/
.page-node .ttl-signup-closed {
  clear: both;
  width: auto;
  text-align: center;
  display: inline-table;
  padding-bottom: 1.25em;
  animation: showUp 1s linear;
  padding: 10px;
  @include set-delay(1s);

  &:before {
    content: "\f273";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 1rem;
    margin-right: 10px;
  }
}


/**********************************************
signup form
***********************************************/
.page-node {
  #signup-form, #signup-edit-form {
    fieldset {
      margin: 2.025rem 0;
      background-color: lighten($node-fieldset-bg-clr, 12%);
    }

    legend {
      background: none;
    }

    .form-submit {
      @extend %form-submit-button;
    }
  }
}


/**********************************************
Sidebar 
***********************************************/
body.node-type-event, body.node-type-directory-listing {
  .sidebar {
    @media #{$small-only}{
      margin-bottom: 10px;  
    }
  }
}