/**********************************************
Resource List Slider
***********************************************/
.resource-list-slider {
  background: $resource-slider-bg;
  padding-top: .5em;
  padding-bottom: .5em;
  @include grid-row();

  .content {
    height:90px;
    @include grid-column(12);
  }

  .view-resource-list-slider {
    background: $resource-slider-inner-bg;
    padding: .25em;
    border: 1px solid rgba(128, 128, 128, 0.18);
  }

  .views-row {
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: 0;
    padding: .45rem;
    height: 4em;
    outline: none;
    display: flex;
    align-items: center;
    position: relative;
    outline: none;
    border-right: 1px solid rgba(128, 128, 128, 0.18);
  }

  .slick-active:last-child {
    border: none;
  }

  .entity-field-collection-item,
  .views-label-title {
    display: none;
  }

  .views-title {
      float: left;
  }

  .field-content {
    color:$resource-slider-title;
    font-size: 0.85em;
    letter-spacing: 0.4px;
  }

  .img {
    border-radius: $bx-corner;
    width: 3.13rem;
    height: 3.13rem;
    display: block;
    margin-right: .63rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
  }

  .open-modal {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  // Slider
  .slick-list {
    height: 64px;
  }

  .slick-dots {
    display: none!important;
  }

  // Slider button
  @include slider-next-prev(22px, 0, 0, white);
  // overwrite
  .slick-prev, .slick-next {
    border-radius: 0!important;
    margin-top: -3px;
    top: 0;

    height: 65px !important;
    background-color:white !important;
    margin:0;

    &:before {
      color: $primary-clr;
      font-size: 14px;
    }
  }

  @media #{$large-up}{
    & {
      padding-left: 2.6375rem;
      padding-right: 2.6375rem;
    }
  }

  @media #{$medium-up}{
    .slick-slider {
      margin: 0 1.1em;
    }

    .slick-prev, .slick-next {
      width: 32px !important;
    }

    .slick-prev {
      border-right: 1px solid white !important;
      left: -17px;
    }

    .slick-next {
      border-left: 1px solid white !important;
      right: -17px;
    }
  }

  @media #{$small-only}{
    .slick-list {
      padding: 0 30px;
    }
    .slick-prev, .slick-next {
      width: 31px !important;
    }
  }
}


// Animate on load
.cssanimations .resource-list-slider {
  @include load-animate();
}
