/**********************************************
Section wrapper
***********************************************/
#content-wrapper .section-wrapper {
  border-radius: $bx-corner;
  margin-bottom: 1em;

  > .large-12 > .section-wrapper {
    @include grid-row($behavior: nest);
  }

  // Not front
  .not-front & {
    @include grid-row(false);
    .main-content {
      #block-system-main > .content {
        overflow: hidden;
        background: white;
        margin-bottom: 35px;

        @media #{$medium-up}{
          border:1px solid #dadada;
          padding: 20px 20px 15px;
        }
      }

      .content {
        > h2,  > h3 {
          margin-top: 1em;
          border-bottom: 1px solid $base-hd-border-clr;
          padding-bottom: .25em;
          margin-bottom: .5em;
        }

        ul {
          padding-top: 1em;
          margin-left: 2rem;
        }
      }
    }

    @media #{$medium-only}{
      padding-top: 13px;
    }
  }

  // modules views / nest columns
  body.page-news &, body.page-directorylisting & {
    .main-content > div > .content {
      @media #{$medium-up}{
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }

  body.page-directorylisting & {
    .main-content > div > .content {
      @media #{$small-only}{
        @include grid-row(nest);
      }
    }
  }

  .page-homepage &, .page-eds &{
    padding: 0;
  }

  .page-eds &, .page-solr &{
    background: none!important;

    .main-content {
      #block-system-main > .content {
        background: none;
        border:none;
        padding:0;
        margin-bottom: 0;
      }
    }
  }

  // Event Calendar Day
  .page-calendar &{
    @media #{$large-up}{
      padding-top: 25px;
    }

    @media #{$medium-only}, #{$small-only}{
      padding-top: 30px; 
    }
  }

  .page-calendar-day & {
    @media #{$large-up}{
      padding-top: 25px !important;
    }
    @media #{$medium-only}, #{$small-only}{
      padding-top: 30px !important; 
    }
  }

  .page-upcoming-events &{
    @media #{$small-only}{
      padding-top: 12px; 
    } 
  }

  body.not-front.page-multisearch & {
    .main-content {
      #block-system-main > .content {
        padding: 0 !important;
        background: none !important; 
        border: none !important;
        @media #{$small-only}{
          margin-bottom: 0 !important;
        }
      }
    }
  }
}