/**********************************************
Main Search
***********************************************/
#search {
  position: relative;

  > .section {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  @media #{$large-up} {
    .front & {
      top:22%;
    }

    .not-front & {
      top:11%;
    }
  }

  @media #{$medium-only} {
    top:-6%;
  }

  @media #{$small-only} {
    // display: none;
  }
}

/**********************************************
Select option custom
***********************************************/
.selectWrapper {
  margin: 0 0 0.5px 20px;
  padding: 0;

  li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 0.8rem;
    color: white;

    &:hover {
      opacity: .8;
    }
  }

  li:not(.active) {
    @include border-title($color:'teal', $position:'both', $height:22px, $topBgSize: 345px, $arrowOffset: -20px);
  }

  li.active {
    z-index: 1;
    @include border-title($color:'red', $position:'both', $height:22px, $topBgSize: 345px, $arrowOffset: -20px);
  }

  @media #{$medium-only}{
    float: right;
    .bgtop {
      top: -16px !important;
    }
  }

  @media #{$small-only} {
    display: none;
  }
}

/**********************************************
Stacks Search
***********************************************/
.block-hf-stacks-search {
  .content {

    .columns {
      padding: 0;
    }

    h4 {
      color:white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);
    }

    //.region-header-search {
    //  width: 99%;
    //}

    .searchBoxWrap {
      position: relative;
      padding:0;

      &:before {
        display: inline-block;
        top: 7.4px;
        position: absolute;
        left:0;
        margin-left: .69rem;
        content:"\f002";
        color: darken($fourth-clr, 10%);
        font-family: fontAwesome;
      }
    }

    input#searchBox,
    select,
    input#searchSubmit {
      border: none;
    }

    input#searchBox {
      padding-left: 40px;
    }

    input#searchBox, input#searchSubmit {
      line-height: 1.55em;
      height: 38px;
    }

    .selectSearchWrapper {
       &:after {
         font-family: fontAwesome;
         content: "\f0dd";
         display: block;
         color: $fourth-clr;
         position: absolute;
         right: 12px;
         top: 0;
         font-size: 20px;
       }
    }
    select {
      margin-bottom: 0;
      height: 38px;
      background-size: 24px 24px;
      display: block;
      background: white;
      border-top: 1px solid #efefef;
      border-left: 1px solid #efefef;
    }

    input#searchSubmit {
      background-color: $src-btn-bg;
      color: $src-btn-clr;
      padding: 0;
      width: 100.25%;

      &:hover, &:active, &:focus, &[disabled], &[disabled]:hover {
        background-color: $src-btn-bg-hover;
      }
    }
  }

  @media #{$large-up} {
    h4 {
      font-size: 1.6rem;
    }
    //.searchBoxWrap {
    //  @include grid-column(10);
    //}
    .content {
      padding: 0 2em;
    }

    #globalSearch > .row {
      //width: 54%;
      position: relative;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.79);
      z-index: 2;
    }

    select {
      border-left: none;
    }

    input#searchBox,
    input#searchSubmit {
      font-size: 1em;
    }

  }

  @media #{$medium-up}{
    #globalSearch > .row {

      //margin-left: 0.0375rem;
      clear: both;
      display: block;
      position: relative;
      z-index: 2;
    }

    input#searchBox,
    select,
    input#searchSubmit {
      margin-bottom: 0;
    }
  }

  @media #{$medium-only} {
    h4 {
      display: none;
    }
    .content {
      padding: 3.2em 1.5em 0;
    }

    .searchBoxWrap {
      @include grid-column(10);
    }

    .large-2 {
      @include grid-column(2);
    }
  }


  .content {
    padding: 0.5em 1.5em 0;
  }

  .selectSearchWrapper {
    //margin-bottom: 8px;
  }

  #globalSearch > .row > div:nth-child(3){
  }

  input#searchBox {
    //margin-bottom: 10px !important;
  }

  input#searchBox,
  select {
  }

  input#searchBox,
  select,
  input#searchSubmit {
    font-size: 1rem;
  }

  @media #{$medium-up}{
    .region-header-search {
      margin-top: 2em;
    }
  }


  @media #{$small-only} {
    h4 {
      display: none;
    }

    .selectSearchWrapper {
      margin-bottom: 8px;
      width: 68%;
    }

    .block-hf-stacks-search input#searchBox, .block-hf-stacks-search select {
      background: rgba(169,169,169,.08)!important;
    }

    #globalSearch > .row > div:nth-child(3) {
      width: 29%;
      float: right;
    }
  }
}

.reveal-modal {
  .eds-location {
    clear: both;

    @media only screen and (max-width: 64.063em) {
      margin-bottom: 2em;
    }

    .eds-location_column {
      border-bottom: 1px solid $child-mu-border-clr;
      padding: .5em;

      @media only screen and (min-width: 64.063em) {
        width: 33%;
        float: left;
      }
    }
  }
}


/**********************************************
Mobile Menu, Off canvas
**********************************************/
.mobile-menu {
  h4 {
    display: block;
    font-size: .9rem;
  }
  .block-hf-stacks-search .content {
    padding: 0.5em 0.6em 0;
  }

  #globalSearch > .row {
    width: 100%;
    box-shadow: none;
  }

  //#globalSearch > .row > div:nth-child(3){
  //  width: 29%;
  //  float: right;
  //}

  .searchBoxWrap {
    width: 100%;
  }

  .selectSearchWrapper {
    margin-bottom: 8px;
    width: 68%;
    select {
      display: block!important;
    }
  }

  input#searchBox {
    margin-bottom: 10px !important;
  }

  input#searchBox,
  select {
    // background: white !important
  }

  input#searchBox,
  select,
  input#searchSubmit {
    font-size: 0.75rem;
    border-radius: $bx-corner !important;
  }
}

/**********************************************
Page size and sortby wrapper
***********************************************/
.pagesize-sortby {
  position: relative;

  @media #{$small-only}, #{$medium-only} {
    float: left;
    width: 129px;
    cursor: pointer;
  }
}

/**********************************************
Search Heading
***********************************************/
.search-head {
  @extend .clearfix;

  background: $stacks-src-head-bg;
  border: $bx-border;
  padding: $bx-padding;
  margin-bottom: 40px;
}

/**********************************************
Select all and saved item
***********************************************/
.select-all, #saved_items_number {
  font-size: .85em;
  outline: none;

  input {
    margin-bottom: 0;
  }

  @media #{$small-only} {

    & {
      float: right;
    }

    &#saved_items_number {
      border-left: 1px solid #cacaca;
      padding: 0 10px;
      position: relative;
      top: 2px;
    }

    &.select-all {
      margin-right: 0 !important;
      position: relative;
    }

    .lbl {
      display: none;
    }
  }

  @media #{$medium-up} {
    float: right;
    margin-right: .63rem;
    margin-left: .63rem;
  }
}

/**********************************************
Display settings
***********************************************/
.display-settings-lbl {
  cursor: pointer;

  @media #{$small-only}, #{$medium-only} {
    display: inline;
    font-size: .85rem;
    background: url(../img/arrow-down-grey.png);
    background-position: 101px -2px;
    background-repeat: no-repeat;
    padding-right: 1.28rem;
    position: relative;
    top: -2px;
    padding-bottom: 10px;

    .open & {
      background-image: url(../img/arrow-up-grey.png);
    }
  }

  @media #{$large-up} {
    display: none;
  }
}

.display-settings-wrapper {
  @media #{$small-only}, #{$medium-only} {
    display: none;
    box-shadow: $bx-shadow;
    background: $main-gradient-fallback;
    border-radius: $bx-corner;
    border: $bx-border;
    padding: $bx-padding;
    position: absolute;
    left: -16px;
    top: 28px;
    z-index: 1;
    width: 290px;

    .open & {
      display: block !important;
    }
  }
}

[data-magellan-expedition-clone] .open .display-settings-wrapper {
  display: none !important;
}

/**********************************************
Drop down custom
***********************************************/
.drop-down-cstm {
  @media #{$small-only}, #{$medium-only} {

    & {
      display: block;
    }

    .lbl {
      cursor: default;
      clear: none;
      color: inherit;
    }

    &.page-size, &.sorting {
      overflow: hidden;
    }

    &.page-size {
      .lbl, ul {
        float: left;
      }

      ul {
        margin: 0 !important;
        padding: 0 !important;
        list-style-type: none;
      }

      li {
        display: inline-block;
        border-right: 1px  solid #cacaca;
        padding-right: 10px;
        padding-left: 10px;
        line-height: 10px;
      }

      li:last-child {
        border: none;
        padding-right: 0;
      }

      .limit {
        display: none;
      }
    }

    &.sorting {
      border-top: 1px solid #cacaca;
      margin-top: 11px;
      padding-top: 10px;

      ul {
        margin-top: 1px !important;
        padding-top: 1px !important;
      }
    }
  }

  @media #{$large-up} {
    float: left;
    position: relative;
    margin-right: .63rem;

    > a {
      background-image: url(../img/arrow-down-grey.png);
      background-position: right center;
      background-repeat: no-repeat;
      padding-right: 1.88rem;
    }

    &:hover {
      > a {
        background-image: url(../img/arrow-up-grey.png);
      }

      ul {
        display: block;
      }
    }

    ul {
      box-shadow: $bx-shadow;
      background: $main-gradient-fallback;
      border-radius: $bx-corner;
      border: $bx-border;
      padding: $bx-padding;
      display: none;
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;
      position: absolute;
      z-index: 1;
      top: 1.5rem;
    }

    li a {
      padding: 6px 10px;
      display: block;
      white-space: nowrap;
      font-size: .85em;

      &:hover {
        background: #F5F5F5;
      }
    }

    &.page-size {
      ul {
        right: 14px !important;
        width: 150px;

        a {
          display: block;
          text-align: center;
        }
      }
    }

    &.sorting {
      display: none;
      ul {
        display: none;
        left: 0;
      }
    }
  }
}

/**********************************************
Filter button
***********************************************/
.search-head .btn-filter {
  cursor: pointer;

  @media #{$large-up} {
    display: none;
  }

  @media #{$small-only}, #{$medium-only} {

    & {
      border-left: 1px solid #cacaca;
      padding-left: 10px;
      color: #444;
      display: block;
      font-size: .9em;
      float: left;
      position: relative;
      top: 2px;

      &:hover {
        opacity: .8;
      }
    }

    i {
      $wh: 12px;

      width: $wh;
      height: $wh;
      display: inline-block;
      background: url(../img/icon_filter.svg) no-repeat center center;
      background-size: $wh $wh;
      margin-right: 3px;
    }
  }
}

/**********************************************
Page Title
***********************************************/
.search-head #page-title {
  color: $src-ttl-clr;
  border-radius: $bx-corner;
  border: 0;
  padding: 0 .5em;
  text-align: center;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 16px auto 0;
    border-bottom: 1px solid #dedede;
  }

  @media #{$medium-only}, #{$small-only} {
    font-size: .9rem;
    height: 38px;
    font-weight: 600;
  }

  @media #{$large-up} {
    width: 100%;
    text-align: center;
  }
}

/**********************************************
Fixed Heading
Fixed data-Magellan-expedition
***********************************************/
.search-head.fixed {
  li.prev {
    left: -0.95rem !important;
  }

  li.next {
    right: -0.95rem !important;
  }

  .filter-items {
    padding-bottom: 0;

    ul {
      padding: 0;
    }
  }

  @media #{$large-up} {

    & {
      background: $main-gradient-fallback;
      border-bottom: 2px solid #cacaca;
    }

    li.prev,
    li.next {
      top: -41px !important;
    }
  }

  @media #{$small-only}, #{$medium-only} {

    & {
      padding-top: 10px;
      padding-bottom: 10px;
      background: $stacks-src-head-fixed-bg;
    }

    li.prev,
    li.next {
      top: -29px !important;
    }

    .hit {
      padding: 0;
      display: none !important;
      margin: 0;
    }

    .filter-items {
      margin: 0;
    }

    #page-title {
      height: auto;
      color: $stacks-src-head-fixed-title-clr;
      margin-bottom: 0;

      &:after {
        display: none !important;
      }
    }

    .pagesize-sortby, .btn-filter, .link-wishlist {
      display: none;
    }
  }
}

/**********************************************
Filter Items
//includes paging next and previous
***********************************************/
.search-head .filter-items {
  position: relative;

  .hit {
    color: $primary-clr;
    text-align: center;
    margin-bottom: 5px;
    display: block;
  }

  // Prev and next
  ul.pager-item {
    padding: .25rem 0 0 0 !important;
    margin: 0 !important;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline;
    }

    li.next {
      .fixed & {
        right: -1.88rem !important;
      }
    }

    li.prev, li.next {
      position: absolute;
      top: -58.5px;

      .fixed & {
        top: -38px;
      }

      a, &.disabled {
        color: $stacks-src-paging-clr;
        border-radius: $bx-corner;
        padding: .25rem 1.05rem;
        background: $stacks-src-paging-link-bg;
        display: inline-block;
        font-size: .9rem;
      }

      &.disabled {
        background-color: $stacks-src-paging-disabled-clr !important;
        cursor: not-allowed;
      }
    }

    li.next {
      right: 0;
    }

    li.prev {
      left: 0;
    }
  }

  // Responsive
  @media #{$large-up} {

    & {
      margin-bottom: 3em;
      margin-bottom: 30px;
    }
  }

  @media #{$medium-up} {

    & {
      margin-bottom: 0.49rem;
    }

    .eds-icon-next,
    .eds-icon-prev {
      display: none;
    }
  }

  @media #{$medium-only}, #{$small-only} {

    & {
      margin-bottom: 1em;
    }

    li.prev {
      top: -46px;
      left: 0;
    }

    li.next {
      top: -46px;
      right: 0;
    }

    li.disabled, li.prev a, li.next a {
      height: 38px;
      font-size: 0.8rem;
      line-height: 32px;
    }

    ul .hit {
      display: block;
      position: relative;
      text-align: center;
      font-size: .85em;
      margin-top: -.625rem;
    }
  }

  @media #{$small-only} {

    & {
      padding-bottom: $bx-padding;
      margin-bottom: 0;
    }

    li.disabled, li.prev a, li.next a {
      text-indent: -2000px;
      overflow: hidden;
      display: block;
    }

    .eds-icon-prev {
      background-image: url(/sites/all/themes/hfstacks/assets/img/ic-arrow-left.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
    }

    .eds-icon-next {
      background-image: url(/sites/all/themes/hfstacks/assets/img/ic-arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
    }

    .eds-icon-next,
    .eds-icon-prev {
      display: inline-block;
      height: 32px;
      width: 32px;
      position: absolute;
    }
  }
}

/**********************************************
Keywords
***********************************************/
.keywords {
  box-shadow: $bx-shadow;
  border-radius: $bx-corner;
  border: $bx-border;
  padding: $bx-padding;
  margin-bottom: 1.25rem;
  background: $main-gradient-fallback;
  background: $main-gradient;
  position: relative;

  .search-head & {
    display: none;
  }

  h3 {
    font-size: 1.125rem;
  }

  .reset-filter {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    font-size: .8em;
  }

  .items a {
    display: inline-block;
    margin-right: .31rem;
    font-size: .75em;
    padding: 2px 8px;
    background-color: $src-keyword-link-bg;
    border-radius: $bx-corner;
    color: $src-keyword-link-clr;
  }
}

/**********************************************
Custom Dropdown
***********************************************/
.selectSearchWrapper {
  position: relative;
}

.itemWrapper {
  border-radius: $bx-corner;
  border: $bx-border;
  background: #FAFAFA;
  cursor: pointer;
  margin-top: -12px;
  opacity:0;
  transition: opacity .1s ease-in;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  height: 0;
  overflow: hidden;
  display: none;

  &.show {
    opacity:1 !important;
    height: auto;
    display: block !important;
  }

  .mobile & {
    display: none;
  }

  .item {
    display: block;
    font-size: 0.8rem;
    padding: 5px 7px;

    &:first-child {
      border-bottom:1px solid rgba(202, 202, 202, 0.35);
    }

    &:hover {
      background-color: #ECECEC;
    }
  }
}

//@media #{$medium-up}{
//  .lbl-select, .selectSearchCat {
//    display: none !important;
//  }
//}


@media #{$small-only} {
  .selectSearchWrapper, .lbl-select {
    border-radius: 3px !important;
  }
}
