/**********************************************
Taxonomy Page
***********************************************/
.page-taxonomy-term .node{
  @extend .clearfix;
  @extend .bg-box;
  background:$trmp-bg;
  padding: $bx-padding;
  margin-bottom: 1em;

  .user-picture {
    float: left;
    margin-right: 10px;

    img {
      border-radius: 4px;
    }
  }

  .submitted {
    font-size: 0.85rem;
    margin-bottom: 2px;
    opacity: 0.9;
  }

  .links.inline {
    margin-left: 0!important;
  }
}