/**********************************************
Toggle mobile
***********************************************/
.toggle-mobile {
  $w: 3.13rem;
  $h: 1.25rem;

  display: none;
  position: absolute;
  right: 1.59rem;
  top: 0.88rem;
  opacity: .8;
  transition: opacity .1s ease-in, transform .1s ease-in;
  z-index: 2;

  span {
    text-indent: -2000px;
  }

  &::after,
  &::before,
  span {
    border-radius: $bx-corner;
    content: "";
    display: block;
    width: 1.44rem;
    height: .25rem;
    background: $mob-icon-bg;
    margin: .22rem 0;

    &:hover {
      background: $mob-icon-bg-hover;
    }
  }

  &:hover {
    opacity: 1;
    transform: translate(0, -2px);
  }

  @media #{$small-only}, #{$medium-only} {
    display: block;
  }

  @media #{$medium-only} {
    top: 2.18rem;
    right: 1.69rem;
  }

  @media #{$small-only} {
    top: 0.68rem;
    right: 0.09rem;
  }
}
