/**********************************************
Toolbar
***********************************************/
body.toolbar {
  padding-top: 0 !important;
}

#toolbar {
  position: relative;
  box-shadow: none;
  padding: 0 !important;
  margin: 0 !important;

  .toolbar-menu {
    background-color: $tool-bg !important;
  }

  @media #{$medium-only} {

    .path-admin-reports,
    .path-admin-help,
    .account,
    #edit-shortcuts {
      display: none !important;
    }

    .home.first {
      margin-right: .63rem;
    }

    #toolbar-menu li {
      .first {
        margin-right: .63rem;
      }

      a {
        padding: 0 .25rem;
      }
    }
  }

  @media #{$small-only} {
    .toolbar-menu {
      padding: .63rem !important;
    }
  }
}

@media #{$small-only} {
  .logged-in .admin-menu-toolbar-category:not(:first-child) {
    display: none;
  }
}