/*****************************************
Border Title
$color: teal, red, yellow
$position:
  - default:right-arrow, left-arrow, both
  - if value is "both",  div will be appended inside h2/title
  - none: only assign backgroud color for title
$height: height of title, value without quotes
$topBgSize: size of the top backgorund
$arrowOffset: size background position
*****************************************/
@mixin border-title($color:'teal', $position:'right-arrow', $height:40px, $topBgSize: 345px, $arrowOffset: -33px) {
  position: relative;
  padding: 0 13px;
  min-height: $height;
  line-height: $height;

  &:before, &:after{
    content: "";
    height: $height;
    display: inline-block;
    position: absolute;
  }

  @if $color == 'teal' { background-color: $secondary-clr; }
  @if $color == 'red' { background-color: $sixth-clr; }
  @if $color == 'yellow' { background-color: $fifth-clr; }

  /**********
  Condition
  //Both Side
  ***********/
  @if $position == 'both' {
    .bgtop{
      width: 100%;
      height:$height;
      background-size: $topBgSize;
      top: -#{$height /2};
      left: 0;
      display: inline-block;
      position: absolute;
      z-index: -1;
      background: url('../img/headlines/paper-#{$color}-headings.png') repeat-x left top;
    }
    &:before, &:after {
      width: 33px;
      background-size: $height !important;
    }
    &:before{
      top: 0;
      left: $arrowOffset;
      background: url('../img/headlines/paper-#{$color}-headings_left.png') no-repeat left top;
    }
    &:after{
      bottom: 0;
      right: $arrowOffset;
      background: url('../img/headlines/paper-#{$color}-headings_right.png') no-repeat right top;
    }
  /**********
  Left Side
  ***********/
  } @else if $position == 'left-arrow' {
    float:right;
    clear: both;
    margin-left: 40px;

    &:before{
      top: 0;
      left: $arrowOffset;
      width: 33px;
      background-size: $height !important;
      background: url('../img/headlines/paper-#{$color}-headings_left.png') no-repeat right top;
    }
    &:after{
      width: 100%;
      top: -19px;
      left: 0;
      padding-top: 19px;
      background: url('../img/headlines/paper-#{$color}-headings.png') repeat-x left top;
      background-size: $topBgSize;
      border-top-left-radius: 15px;
    }
  /**********
  Right Side
  ***********/
  } @else if $position == 'right-arrow' {
    margin-right: 40px;
    &:before{
      width: 100%;
      top: -18px;
      left: 0;
      padding-top: 19px;
      background: url('../img/headlines/paper-#{$color}-headings.png') repeat-x left top;
      background-size: $topBgSize;
      border-top-right-radius: 15px;
    }
    &:after{
      bottom: 0;
      right: $arrowOffset;
      width: 33px;
      background-size: 40px !important;
      background: url('../img/headlines/paper-#{$color}-headings_right.png') no-repeat right top;
    }
  } @else if $position == 'none' {
  }
}
