/*****************************************
Gradient background
position: default is top
wh: width or height, if top and bottom its set to height if left and right its set to width.
*****************************************/
@mixin bg-gradient($position:'top', $wh:8) {
  background: $secondary-clr;
  position: absolute;
  content: "";
  z-index: 2;


  @if $position == 'top' {
    left:0; top:0; right:0; height:#{$wh}px;
    @include gradient-position('top');

  } @else if $position == 'bottom' {

    left:0; right:0; bottom:0; height:#{$wh}px;
    @include gradient-position('bottom');

  } @else if $position == 'left' {

    left:0; top:0; bottom:0; width:#{$wh}px;
    @include gradient-position('left');

  } @else if $position == 'right'  {
    right:0; top:0; bottom:0; width:#{$wh}px;
    @include gradient-position('right');
  }
}

// Use to position gradient
@mixin gradient-position($pos) {
  $colors : $secondary-clr 0%,$secondary-clr 20%,$third-clr 20%,$third-clr 40%,$fourth-clr 40%, $fourth-clr 60%,$fifth-clr 60%, $fifth-clr 80%, $sixth-clr 80%, $sixth-clr 100%;
  @if $pos == 'top' or $pos == 'bottom' {
    background: linear-gradient(to right,  $colors);
    background: -moz-linear-gradient(left,  $colors);
    background: -webkit-linear-gradient(left, $colors);
  } @else {
    background: linear-gradient(to top,  $colors);
    background: -moz-linear-gradient(top,  $colors);
    background: -webkit-linear-gradient(top, $colors);
  }
}
