
// Slider next and previous
// $size: size off arrow
// $prevPos: previous arrow left position
// $nextPos: next arrow right position
// $color: black or white
@mixin slider-next-prev($size, $prevPos, $nextPos, $color:black, $txt:'teal') {
  .slick-slider {
    margin-bottom:0;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
    transition: transform .1s ease-in;
    border: none !important;
    width:$size/2 !important;
    height:$size !important;
    margin-top: -#{$size/2};
    padding: 0;

    @if $txt == 'teal' { background-color: $secondary-clr; }
    @if $txt == 'red' { background-color: $sixth-clr; }
    @if $txt == 'yellow' { background-color: $fifth-clr; }

    &:after,
    &:before {
      font-size: 1rem ;
      display:block;
      color:$color;
      font-family: FontAwesome;
      position: relative;
      transition: all .1s ease-in;
    }
  }

  .slick-prev {
    left: $prevPos;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    &:before {
      content: "\f060" !important;
    }

    .ie9 & {
      img {
        display: block;
      }
    }

    &:hover {
      &:before {
        transform: translate(-2px,0);
      }
    }
  }

  .slick-next {
    right: $nextPos;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;


    &:before {
      content: "\f061" !important;
    }

    .ie9 & {
      img {
        display: block;
      }
    }

    &:hover {
      &:before {
        transform: translate(2px,0);
      }
    }
  }
}
