/**********************************************
Locations Bars
***********************************************/
.location-bar {
  $h : 34px;
  color: white;
  height: $h;
  overflow: hidden;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  background: #76777B;
  position: relative;

  .row {
	position: relative;
  }

  .show-all-locations {
	position: absolute;
	left: 0;
	top:0;
	right: 150px;
	bottom: 0;
	z-index: 1;
	}

  .loc-item {
		height: $h;
		line-height: $h; 
		font-size: 0.75rem;
		letter-spacing: 0.4px;
		padding: 0 10px;

		> div {
		  display: inline-block;
		}
  }

  .wrap-left {
		> div {
		  display: inline-block;
		  margin-right: 10px;
		}
  }

  .wrap-right {
		float: right;

		> div {
		  display: inline-block;
		  margin-left: 10px;
		}

		a {
			color: white;
		}
  }

  .btn-booking a:before {
		content: "\f271";
		font-family: fontAwesome;
		display: inline-block;
		font-size: 1rem;
		float: left;
		margin-right: 5px;
		margin-left: 10px;
  }

  @media only screen and (max-width: 40em) {
		.loc-item {
		  padding: 0 5px;
		}

		.wrap-left > div {
		  margin-right: 5px;
		}
  }
}


/**********************************************
Modal #modal-all-locations
***********************************************/
#modal-all-locations{
  padding: 0;

	.close-reveal-modal {
		top: -0.775rem;
		right: -0.725rem;
		z-index: 1;
		line-height: 25px;
		background: #1d1d1d;
		color: white;
		border-radius: 50px;
		width: 30px;
		height: 30px;
		font-size: 1.7rem;
		text-align: center;
	}

  .loc-item {
		margin-bottom: 31px;
  }

  .items {
		padding: 0 14px 14px;
  }

  h2 {
		margin-top: -36px;
		color: white;
		text-shadow: -1px -1px #272727;
		font-size: 1.5rem;
  }
  .wrap-left {
		position: relative;
  }

  .title {
		font-size: 0.9rem;
		font-weight: 600;
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: 5px;
		margin-bottom: 7px;
		color: #6b6b6b;
  }

  .view-all {
		float: right;
		margin-top: -39px;
		z-index: 1;
		position: relative;
		font-size: 0.8rem;
		color: white;

		&:before {
			content: "\f022";
			font-family: fontAwesome;
			padding-right: 6px;
		}

		&:hover {
			opacity: .8;
		}
  }

  .btn-booking {
		a:before {
		  content: "\f271";
		  font-family: fontAwesome;
		  display: inline-block;
		  font-size: .8rem;
		  float: left;
		  margin-right: 5px;
		}
  }

  .email {
  	position: relative;
  	z-index: 2;
  }

  .day, .btn-booking, .email, .number {
		font-size: .85rem;
		margin-bottom: 3px;
  }

	// Medium up
  @media only screen and (min-width: 40.063em) {
		max-width: 540px;

		.loc-item {
			width: 50%;
			float: left;

			&:nth-child(even) {
				padding-left: 0.9375rem;
			}

			&:nth-child(odd) {
				padding-right: 0.9375rem;
				clear: left;
			}
		}
  }

	// small only
  @media only screen and (max-width: 40em) {
	.title {
	  padding-right: 110px;
	}

	.close-reveal-modal {
		top: 0.225rem !important;
		right: 0.275rem !important;
	}
  }
}





