/**********************************************
Locations Bars
***********************************************/
.location-bar {
  color: white;
  height: 34px;
  overflow: hidden;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
  background: #76777B;
  position: relative; }
  .location-bar .row {
    position: relative; }
  .location-bar .show-all-locations {
    position: absolute;
    left: 0;
    top: 0;
    right: 150px;
    bottom: 0;
    z-index: 1; }
  .location-bar .loc-item {
    height: 34px;
    line-height: 34px;
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    padding: 0 10px; }
    .location-bar .loc-item > div {
      display: inline-block; }
  .location-bar .wrap-left > div {
    display: inline-block;
    margin-right: 10px; }
  .location-bar .wrap-right {
    float: right; }
    .location-bar .wrap-right > div {
      display: inline-block;
      margin-left: 10px; }
    .location-bar .wrap-right a {
      color: white; }
  .location-bar .btn-booking a:before {
    content: "\f271";
    font-family: fontAwesome;
    display: inline-block;
    font-size: 1rem;
    float: left;
    margin-right: 5px;
    margin-left: 10px; }
  @media only screen and (max-width: 40em) {
    .location-bar .loc-item {
      padding: 0 5px; }
    .location-bar .wrap-left > div {
      margin-right: 5px; } }

/**********************************************
Modal #modal-all-locations
***********************************************/
#modal-all-locations {
  padding: 0; }
  #modal-all-locations .close-reveal-modal {
    top: -0.775rem;
    right: -0.725rem;
    z-index: 1;
    line-height: 25px;
    background: #1d1d1d;
    color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-size: 1.7rem;
    text-align: center; }
  #modal-all-locations .loc-item {
    margin-bottom: 31px; }
  #modal-all-locations .items {
    padding: 0 14px 14px; }
  #modal-all-locations h2 {
    margin-top: -36px;
    color: white;
    text-shadow: -1px -1px #272727;
    font-size: 1.5rem; }
  #modal-all-locations .wrap-left {
    position: relative; }
  #modal-all-locations .title {
    font-size: 0.9rem;
    font-weight: 600;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5px;
    margin-bottom: 7px;
    color: #6b6b6b; }
  #modal-all-locations .view-all {
    float: right;
    margin-top: -39px;
    z-index: 1;
    position: relative;
    font-size: 0.8rem;
    color: white; }
    #modal-all-locations .view-all:before {
      content: "\f022";
      font-family: fontAwesome;
      padding-right: 6px; }
    #modal-all-locations .view-all:hover {
      opacity: .8; }
  #modal-all-locations .btn-booking a:before {
    content: "\f271";
    font-family: fontAwesome;
    display: inline-block;
    font-size: .8rem;
    float: left;
    margin-right: 5px; }
  #modal-all-locations .email {
    position: relative;
    z-index: 2; }
  #modal-all-locations .day, #modal-all-locations .btn-booking, #modal-all-locations .email, #modal-all-locations .number {
    font-size: .85rem;
    margin-bottom: 3px; }
  @media only screen and (min-width: 40.063em) {
    #modal-all-locations {
      max-width: 540px; }
      #modal-all-locations .loc-item {
        width: 50%;
        float: left; }
        #modal-all-locations .loc-item:nth-child(even) {
          padding-left: 0.9375rem; }
        #modal-all-locations .loc-item:nth-child(odd) {
          padding-right: 0.9375rem;
          clear: left; } }
  @media only screen and (max-width: 40em) {
    #modal-all-locations .title {
      padding-right: 110px; }
    #modal-all-locations .close-reveal-modal {
      top: 0.225rem !important;
      right: 0.275rem !important; } }

/*# sourceMappingURL=hf_locations.css.map */
