/*****************************************
Bg-box
*****************************************/
.bg-box {
  border-radius: $bx-corner;
  box-shadow:$bx-shadow;
  border: $bx-border;
  position: relative;
  margin-bottom: 1.25rem;
  display: block;
  
  @media #{$large-up}{
    padding: 1.25rem;    
  }
  @media #{$small-only}, #{$medium-only}{
    padding: .50rem;
  }
}

/**********************************************
Single Box: sg-blck
***********************************************/
.sg-block {
  position: relative;
  float:none;

  > .content, .pane-content, .inner-content{
    @extend .bg-box;
    background: $bx-background;

    .ie9 {
      background-color:white !important;
    }

    &.view{
      padding-bottom: 2.5em;
    }
  }

  & > h2 {
    background: $secondary-clr;
    border-radius: $bx-corner;
    box-shadow: $bx-shadow;

    position: absolute;
    font-size: 1.4375rem;
    top: -32px;
    left: 1.5em;
    z-index: 1;
    padding: .5em;
    color: white !important;
  }


  &.pane-block h2{
    left: 1.5rem !important;
  }

  &.top-title {
    margin-top: 2em;
  }
}

