/* star rating CSS */
.starrating {
    border: none;
    float: left;
}

.starrating > input { display: none; }
.starrating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.starrating > .half:before {
    content: "\f089";
    position: absolute;
}

.starrating > label {
    color: #ddd;
    float: right;
}

.starrating input[type="checkbox"] + label, .starrating input[type="radio"] + label {
    margin-left: 0;
    margin-right: 0;
}

.starrating > input:checked ~ label, /* show gold star when clicked */
.starrating:not(:checked) > label:hover, /* hover current star */
.starrating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.starrating > input:checked + label:hover, /* hover current star when changing rating */
.starrating > input:checked ~ label:hover,
.starrating > label:hover ~ input:checked ~ label, /* lighten current selection */
.starrating > input:checked ~ label:hover ~ label { color: #FFED85;  }