/*****************************************
Base Components
*****************************************/
%margin-a {
  $mar: 10px;
  margin-top: $mar;
  margin-bottom: $mar;
}

%title-a {
  margin-bottom: 24px;
  font-size: 20px;
  letter-spacing: 2px;

  &:after {
    content: "";
    display:block;
    height:1px;
    width:30%;
    margin: 16px auto 0;
    border-bottom: 1px solid $lightgrey-clr;
  }
}

// input submit buttons
%form-submit-button {
  line-height: 1.55rem;
  color: white;
  border: none;
  border-radius: $bx-corner;
  font-size: 0.875rem;
  padding: 0.5rem 0.8rem;
  margin-left: 2px;

  &:hover {
    opacity: .9;
  }
}

// Slider next and previous
// $size: size off arrow
// $prevPos: previous arrow left position
// $nextPos: next arrow right position
// $color: black or white
@mixin slider-next-prev($size, $prevPos, $nextPos, $color:black, $bg: white) {
  .slick-slider {
    margin-bottom:0;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
    transition: transform .1s ease-in;
    width: $size;
    height: $size;
    border: none !important;
    font-size: 0;
    background: $bg;
    overflow: hidden;
    opacity: 1;

    &:hover {
      opacity: .8;
    }
  }

  .slick-prev:before, .slick-next:before {
    font-size:  $size !important;
    color: $color;
    overflow: hidden; 
    display: block;
    margin: 0 auto;
    font-family: fontAwesome;
  }

  .slick-prev {
    left: $prevPos;

    &:before {
      content: "\f0d9";
    }

    .ie9 & {
      img {
        display: block;
      }
    }

    &:hover {
      transform: translate(-2px, 0);
    }
  }

  .slick-next {
    right: $nextPos;

    &:before {
      content: "\f0da" !important;
    }
    
    .ie9 & {
      img {
        display: block;
      }
    }

    &:hover {
      transform: translate(2px, 0);
    }
  }
}

// Fade in animation 
@mixin load-animate() {
  animation: load-slider 1s normal;

  @keyframes load-slider {
    0%   { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 1; }
  }
}


/**************************
Set delay to any element
**************************/
@mixin set-delay($delay:1s) {
  animation: showUp $delay linear;
  @keyframes showUp {
    0%  { opacity: 0; }
    95% { opacity: 0; }
    100%{ opacity: 1; }
  }
}

/***************************
Fonts
****************************/
@font-face {
  font-family: 'LTCCaslonLong';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mtee/fonts/LTCCaslonLongWeb.eot');
  /* IE9 Compat Modes */
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/LTCCaslonLongWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/LTCCaslonLongWeb.woff') format('woff');
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KievitSlabMedium';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/KievitSlabWebPro-Medium.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/KievitSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts//KievitSlabWebPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KievitSlabRegular';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/KievitSlabWebPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBook-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBook-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBook-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBook-webfont.ttf') format('truetype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBook-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBookIt-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBookIt-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBookIt-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBookIt-webfont.ttf') format('truetype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudBookIt-webfont.svg#vauditalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Vaud';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltra-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltra-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltra-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltra-webfont.ttf') format('truetype'), url('.http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltra-webfont.svg#vaudregular') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Vaud';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltraIt-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltraIt-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts//VaudUltraIt-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltraIt-webfont.ttf') format('truetype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudUltraIt-webfont.svg#vauditalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBold-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBold-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBold-webfont.ttf') format('truetype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBold-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'VaudMedium';
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBoldIt-webfont.eot');
  src: url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBoldIt-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBoldIt-webfont.woff') format('woff'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBoldIt-webfont.ttf') format('truetype'), url('http://www.caltech.edu/sites/all/themes/caltech_mte/fonts/VaudExtraBoldIt-webfont.svg#vaudregular') format('svg');
  font-weight: normal;
  font-style: italic;
}