/**********************************************
Page Admin: Media Browser
***********************************************/
#media-browser-page-wrapper{
  #branding {
    border-bottom:1px solid #AAAAAA;

    li.ui-tabs-active a{
      background:none;
    }

    a{
      font-weight: normal;
      font-size: .85rem;
      outline: none;
    }
  }

  .form-submit {
    @extend %form-submit-button;    
  }

  .file, .form-file {
    font-size: 0.8rem;
  }

  .form-file{
    margin: 10px 0;
    float: left;
    width: auto;
  }

  .description {
    font-size: 0.80rem;
    color: grey;
    clear: both;
  }
}

