// Fonts
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

$font-one: 'Helvetica', arial, sans-serif;
$font-two: 'Helvetica', arial, sans-serif;
// Gradient
$main-gradient-fallback:  white;
$main-gradient:           white;

// Colors
$primary-clr:   #2d3840;
$secondary-clr: #00b1c0;
$third-clr:     #0185b6;
$fourth-clr:    #00d49c;
$fifth-clr:     #fddf03;
$sixth-clr:     #ff015c;

// Internal Vendor
@import 'crayons/functions';
@import 'crayons/settings';
@import 'foundation';
@import 'font-awesome';


// borders
$border-width:  1px;
$border-style:  solid;
$border-color:  #dadada;

// Components
$bx-background: $white;
$bx-shadow:     rgba(0, 0, 0, .09) 0 0 0 1px, rgba(0, 0, 0, .09) 0 2px 23px 0;
$bx-border:     1px solid $border-color;
$bx-corner:     3px;
$bx-padding:    .813rem;
$padding-large:   1.5rem;
$padding-medium:  ($padding-large / 2);
$padding-small:   ($padding-large / 4);

// Vars
$darken-amount:   10%;
$lighten-amount:  10%;

// SG-block and Bg-block
$sg-block-border: 1px solid $border-color;

// Base
$base-link-clr:             $third-clr;
$base-tbl-bg:               rgba(245, 245, 245, .48);
$base-tbl-hr-clr:           rgba(34, 34, 34, .81);
$base-tbl-tr-odd-bg:        $white;
$base-hd-border-clr:        $border-color;
$base-tabs-border-clr:      $base-hd-border-clr;
$base-tabs-link-bg:         rgba(221, 221, 221, .28);
$base-tabs-link-border-clr: $border-color;
$base-sharethis-border-clr: $base-hd-border-clr;

// Main Navigation
$main-nav-bg:               $white;
$main-nav-link-color:       $third-clr;
$main-nav-link-hover-bg:    $primary-clr;
$main-nav-link-hover-color: $sixth-clr;
$main-nav-link-active-color:$sixth-clr;

// Main Dropdown
$main-nav-dropdown-bg:      rgba($third-clr, .85%);
$main-nav-dropdown-link:    $white;

// Breadcrumbs
$breadcrumbs-bg:          $fifth-clr;
$breadcrumbs-first-clr:   lighten($third-clr, 40%);
$breadcrumbs-active-clr:  $breadcrumbs-first-clr;

// // Main Wrapper
$main-wrapper-bg:         $sixth-clr;

// callout
$cta-callout-block-bg:  $white;
$cta-title-link-clr:    $primary-clr;
$cta-list-border-clr:   $white;
$cta-paragraph-clr:     $secondary-clr;

// days in history
$dih-bg: $white;

// tabs
$uni-tabs-bg:             transparent;
$uni-tabs-clr:            $primary-clr;
$uni-tabs-ttl-bg:         lighten($primary-clr, $lighten-amount);
$uni-tabs-ttl-active-bg:  lighten($primary-clr, $darken-amount);
$uni-tabs-ttl-hov-bg:     lighten($primary-clr, $lighten-amount);
$uni-tabs-branch-clr:     #333;
$uni-tabs-border-clr:     $border-color;

// resource slider
$resource-slider-bg: white;
$resource-slider-inner-bg: transparent;
$resource-slider-title: grey;

// mini slider
$mini-slider-bg:          $white;
$mini-slider-inner-bg:    $white;
$mini-slider-row-bg:      $main-gradient;

// big slider
$big-slider-bg:           $white;
$big-slider-inner-bg:     $white;
$big-slider-row-bg:       $main-gradient;

// site brand
$name-slogan-clr:         $third-clr;
$logo-name-slogan-clr:    $secondary-clr;

// calendar
$cal-date-heading-color:    $primary-clr;
$cal-border-clr:            $border-color;
$cal-date-single-bg-clr:    $white;
$cal-date-bg-clr:           $border-color;
$cal-day-link-clr:          $secondary-clr;
$cal-view-bg-clr:           $secondary-clr;
$cal-view-clr:              $white;
$cal-view-link-clr:         white;
$cal-today-border-clr:      $secondary-clr;
$cal-event-bg-clr:          $secondary-clr;
$cal-event-link-clr:        $white;

// child submenu
$child-mu-link-clr:       $primary-clr;
$child-mu-border-clr:     $border-color;
$child-mu-link-hv-clr:    rgba($black, .025);

// coverflow
$cf-field-bg:         $fourth-clr;
$cf-field-link-clr:   $white;
$cf-banner-link-bg:   #545758;

// eds
$eds-slick-clr:       $primary-clr;
$eds-border-clr:      $border-color;

// footer
$ft-border-clr:   rgba(255, 255, 255, .12);
$ft-bg-clr:       $primary-clr;
$ft-color:        $white;

// login-form
$lf-desc-clr:     #afafaf;
$lf-btn-bg:       $fourth-clr;

// Modal
$modal-button-bg: $third-clr;

// mobile-nav
$mob-nav-link-clr:        rgba($white, .99);
$mob-nav-link-hov-clr:    lighten($fourth-clr, 20%);

// my-account
$my-ac-arrow-clr:       #808080;
$my-ac-bg-size:         .63rem;
$my-ac-hd-border-clr:   $border-color;

// node-guides here
$node-guide-side-link-clr:        $white;
$node-guide-side-link-bg:         $secondary-clr;
$node-guide-side-link-active-bg:  lighten($secondary-clr, 10%);
$node-guide-side-ttl-clr:         $primary-clr;

// node-guides
$node-tabs-link-clr:        $primary-clr;
$node-tabs-border-clr:      $child-mu-border-clr;
$node-link-active-bg-clr:   rgba($black, .025);

// node
$node-field-clr:          inherit;
$node-author-border-clr:  $border-color;
$node-fieldset-bg-clr:    $border-color;

// side filter
$side-filter-submit-bg:   $fourth-clr;

// toggle-mobile
$mob-icon-bg:         $third-clr;
$mob-icon-bg-hover:   darken($white, $darken-amount);

// toolbar
$tool-bg:       #434c52;

// top menu
$top-link-clr:  $third-clr;

// views-e-resources
$view-e-heading-clr:    $primary-clr;
$view-e-heading-bg:    #f5f5f5;
$view-e-after-clr:      #4b4747;
$view-e-border-clr:     $border-color;
$view-e-hov-bg:         adjust-color($secondary-clr, $lightness:40%, $alpha: -0.6);
$view-e-item-bg:        #fdfdfd;
$view-e-item-link-clr:  $third-clr;

// views
$view-bg:         $white;
$view-date-clr:   lighten($primary-clr, 20%);

// Term Page
$trmp-bg:         $white;
$trmp-date-clr:   ligthen($primary-clr, 20%);

// alert messages
$alt-msg-link: #C1491C;

// basic search
$basic-search-bg:     $fourth-clr;
$search-bg:           #fb7171;
$search-btn-bg:       $white;
$search-pd:           inherit;
$search-rd:           $search-pd;

// stacks search
$stacks-search-bg:    rgba($white, .85);

// stacks search head
$stacks-src-head-bg:                $white;
$stacks-src-head-fixed-bg:          lighten($primary-clr, 15%);
$stacks-src-head-fixed-title-clr:   $white;
$stacks-src-head-fixed-border:      lighten($primary-clr, 15%);

// stacks search paging
$stacks-src-paging-clr:             $white;
$stacks-src-paging-link-bg:         $secondary-clr;
$stacks-src-paging-disabled-clr:    grey;

// stacks search filter
$src-heading-clr:     $white;
$src-heading-bg-clr:  $secondary-clr;
$src-link-clr:        $primary-clr;
$src-link-border-clr: #e6e6e6;
$src-link-hover-bg:   $child-mu-link-hv-clr;
$src-ttl-clr:         $primary-clr;
$src-ul-bg:           $white;

// stacks search-results
$src-item-link-clr:       $white;
$src-item-link-bg:        $secondary-clr;
$src-disabled-clr:        #c5c5c5;
$src-keyword-bg:          $white;
$src-keyword-link-bg:     $sixth-clr; //here
$src-keyword-link-clr:    $white;
$src-save-clr:            lighten($third-clr, 50%);
$src-placehold-clr:       $white;
$src-placehold-bg:        $fourth-clr;

// stacks search details
$stacks-src-dtls:             $white;
$stacks-src-btn-shadow:       lighten($primary-clr, 20%);
$stacks-src-book-review-bg:   $white;
$stacks-src-similit-ttl-bg:   $white;

// search
$src-btn-bg:        $fourth-clr;
$src-btn-bg-hover:  darken($fourth-clr, $darken-amount);
$src-btn-clr:       $white;
$src-btn-disabled:  $src-disabled-clr;

// Main Configuration
@import 'crayons/main-config';
