/**********************************************
admin bar support button
***********************************************/
#toolbar div.toolbar-menu ul li[class*='support-tickets-new'] a {
  background: #607D8B; }

/**********************************************
fix for views dropdown icon
***********************************************/
body.adminimal-skin-material #views-ui-list-page tr.odd {
  background: #fdfdfd !important; }

body.adminimal-skin-material #views-ui-list-page table tbody td.views-ui-path a {
  padding: 0; }

body.adminimal-skin-material #views-ui-list-page .ctools-link {
  display: block;
  height: auto;
  text-indent: -9999px; }

body.adminimal-skin-material #views-ui-list-page .ctools-link a {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #2196F3;
  border-style: solid;
  border-width: 4px 4px 0;
  line-height: 0;
  right: -3px;
  top: 1.35em;
  bottom: 0;
  padding: 0;
  display: block;
  height: auto;
  text-indent: -9999px;
  width: 0; }

/* Adding in down arrow */
.ctools-dropbutton-processed .ctools-link {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 5px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat; }

.page-admin .button.modal-btn {
  float: right; }

.page-admin .button.modal-btn:hover {
  color: #fff; }

.page-admin a.button {
  color: white !important;
  background: #2196f3 !important; }

.page-admin-appearance .page-admin {
  height: 33px;
  margin-bottom: 10px; }

/**********************************************
Research Guide
***********************************************/
.page-node-add-guide #guide-node-form .fieldset-legend span.summary {
  margin-left: 0 !important; }

.page-node-add-guide #guide-node-form .group-related-topics-for-info .fieldset-legend {
  margin-top: 11px; }

/**********************************************
Webforms fixes
***********************************************/
div.form-builder-empty-placeholder {
  color: black !important;
  font-weight: bold;
  font-size: 2em; }

/**********************************************
Panels fixes
***********************************************/
.panels-add-content-modal {
  background-repeat: repeat-y !important; }
  .panels-add-content-modal .content-type-button div, .panels-add-content-modal .content-type-button span {
    top: 1px !important; }

#modal-content .form-item-override-title {
  display: none !important; }
#modal-content .form-submit {
  background: #FAFAFA;
  background-image: linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -o-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -moz-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -ms-linear-gradient(bottom, #E9EAEC 0%, #FAFAFA 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E9EAEC), color-stop(1, #FAFAFA));
  border-radius: 3px;
  color: #666;
  border: 1px solid #ccc;
  display: inline-block;
  font: bold 12px/33px "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 33px;
  letter-spacing: .0625em;
  padding: 0 .9375rem;
  float: left;
  font-size: .8125rem;
  margin-right: .5em; }

/**********************************************
Hide Shortcuts button in header
***********************************************/
body.adminimal-skin-material div.add-or-remove-shortcuts {
  display: none; }

/**********************************************
Webforms
***********************************************/
.page-node-webform-form-builder div.options-widget a.add, .page-node-webform-form-builder div.options-widget a.remove {
  margin-left: 20px;
  padding: 0; }

/**********************************************
Create Slider
***********************************************/
.page-node-add-slider .browse {
  margin-right: 10px; }

/**********************************************
Reserves
***********************************************/
.node-type-reserves .ctools-modal-media-file-edit {
  margin-right: 10px; }

/**********************************************
CKE Dialog
***********************************************/
.cke_dialog_ui_button {
  background: #eee !important; }
  .cke_dialog_ui_button:hover {
    color: black !important; }

/**********************************************
Draggable
***********************************************/
.draggable a.tabledrag-handle {
  float: none !important; }

/*# sourceMappingURL=hf_overrides.css.map */
